[2020-04-15 14:21] ecrist commented on #111
Possibly related to #363.  Work is being done in that ticket.

[2020-04-15 14:24] ecrist commented on #101
This was added in f390dbe.  Closing.

[2020-04-15 14:24] #101 closed

[2020-04-15 14:25] ecrist commented on #100
Related to #363.  Comment there.  Closing this one.

[2020-04-15 14:25] #100 closed

[2020-04-15 19:04] TinCanTech commented on #363
`mktemp` makes it much harder to debug.

@rs-fabrica It would help if we knew which version of easyrsa and what actual change was made.

This is `safessl-easyrsa.cnf` generated moments ago, all ENV-VARS have been expanded:
[code]

This is the `openssl-easyrsa.cnf` used as the template:
[code]

[2020-04-15 19:52] TinCanTech commented on #363
`easyrsa3` has **never** honoured those `openssl` options.

[2020-04-15 20:34] rs-fabrica commented on #363
Ok. But not honoring them is a feature or a bug?

To have them in a file named _openssl-easyrsa.cnf_ and not honoring parts of it is quite misleading.

If really there is no intention of honoring some option there, I believe this should, at least, be mentioned in _openssl-easyrsa.cnf_.

[2020-04-15 21:50] ecrist commented on #363
This is a bug.  Those options should be honored.  I'll be digging into this before v3.0.8 is released. Seems a lot of tickets are related to this.

[2020-04-16 11:07] monsterry opened #377 "v2 to v3 upgrade ignores code / keys separated setup"
At the moment we are using a setup like this to support multiple CAs with only one easyrsa installation:

* easyrsav2 installed via deb-packages lying in `/usr/share/easyrsa`
* Multiple PKI infrastructures under `/etc/openvpn/server/ca1` to `caX` containing
  *  a `vars` file with `EASY_RSA` set to `/usr/share/easyrsa` and `KEY_DIR` set to `/etc/openvpn/server/caX/keys`
  * a `keys` directory cont

[2020-04-16 11:11] monsterry commented on #377
I just found, that executing easyrsa with `$EASYRSA_VARS_FILE` set, is sufficient for me. The error message should be fixed nevertheless.

[code]

[2020-04-16 12:24] TinCanTech commented on #377
I believe the root cause is that `easyrsa` does not find `./vars` when the script is not located in the current directory.

[2020-04-18 11:04] andrew-phi commented on #111
Bug present in current release 3.0.7.
Spent hours finding out what's wrong.

[2020-04-18 13:45] ecrist commented on #111
Sweet.  So, what's wrong?

[2020-04-18 14:09] brainpower commented on #111
well, vars get sourced here: https://github.com/OpenVPN/easy-rsa/blob/master/easyrsa3/easyrsa#L1694

the defaults being set below seem to overwrite what is set in vars.
Fix should be as simple as sourcing the vars *after* setting defaults or make the defaults not overwirte already set variables

[2020-05-03 15:48] chdharm opened #378 "No easyrsa script under folder easy-rsa after installing easy-rsa using sudo apt-get install easy-rsa"
I am installing open vpn server with easy-rsa.

While I am running few commands using ./easyrsa , I am getting the error that this is not found.

I searched under the easy-rsa folder and there was no ./easyrsa script.

[2020-05-04 12:33] ErikvLinstee opened #379 "Renew CA/sub-CA"
Hi,

I have been learning about Easy-RSA and PKI in general. I've read several articles about planning a PKI that say to renew the CA with the same key halfway through its lifetime and to create a new key near the end of its lifetime.

I am not sure about the benefits of renewing halfway through yet, but I did notice there is no way to do so with Easy-RSA. At least not that I have been able to fin

[2020-05-05 16:05] kyanha opened #380 "EASYRSA_ALGO=ec, EASYRSA_KEY_SIZE=521 does not use secp521r1 curve"
When setting `EASYRSA_ALGO=ec` and `EASYRSA_KEY_SIZE=521`, easyrsa silently uses the secp384r1 curve (which limits the key bits to 384).

When setting `EASYRSA_ALGO=ec` and `EASYRSA_KEY_SIZE=256`, easyrsa silently uses the secp384r1 curve when secp256k1 or prime256v1 would be sufficient.

Expected behavior: easyrsa would automatically use the curve size large enough for the key size without using

[2020-05-09 11:49] ashu-savani commented on #375
Apologies for the delayed response - using v3.0.7 also doesn't show any useful output
[code]

[2020-05-12 03:32] ecrist commented on #380
I thought I could add multiple milestones.  Guess not.

[2020-05-12 03:38] ecrist commented on #378
You need to look at the documentation for the package maintainer.  We do not maintain the packages that provide for any particular distribution.

[2020-05-12 03:38] #378 closed

[2020-05-12 03:42] ecrist commented on #375
Can you re-execute the script, but call it like below?  DO NOT include anything you want to keep secret.  Why are you enclosing the client name in single quotes?

`sudo sh -x ./easyrsa build-client-full 'FILENAME' nopass`

[2020-05-12 03:46] ecrist commented on #343
Does this still occur in v3.0.7 or master?

[2020-05-15 11:02] mmokrejs opened #384 "app-crypt/easy-rsa-3.0.5 - easyrsa import-req outputs wrong error message"
[code]

The above messages are misleading. *Offending* would mean that a file is already in place, supposedly an old file. That is not the case now.

[code]

[2020-05-15 21:17] mmokrejs commented on #56
[code]

`./pki/reqs/myserver1.crt`

`./pki/private/myserver1.key`

Run `easyrsa gen-dh`, the file will appear in `./pki/dh.pem`

The file can be created with

`openvpn --genkey --secret server/pki/ta.key`, copy it to both server and clients and set the variable to 0 or 1, respectively, in openvpn.conf, as shown below

[code]

You need to create client key/crl pairs. Openvpn states they should be s

[2020-05-15 21:27] mmokrejs opened #385 "easy-rsa-3.0.7: depth=0, error=unsupported certificate purpose: CN=myclient1"
Hi,
  I cannot help myself but the certificates created by easy-rsa (3.0.5 and 3.0.7) cannot be used by openvpn-2.4.9 + OpenSSL 1.1.1g. I see `depth=0, error=unsupported certificate purpose: CN=myserver1` error message on the client side logged by openvpn into syslog.

  I think some of the required features are not set in teh certificates. Please check the following pages mentioning required attr

[2020-05-15 21:32] mmokrejs opened #386 "easy-rsa-3.0.7: default should be sha512 instead of sha256"
It is said that newer amd64-compaitible CPUs have built-in sha512 and therefore it is much faster to use sha512 instead of sha256. Please adjust the variables in `vars.example`

Quoting from https://superuser.com/questions/1446201/openvpn-certificate-does-not-have-key-usage-extension

[2020-05-15 22:01] ecrist commented on #386
No

Eric F Crist

[2020-05-15 22:04] ecrist commented on #385
I think you’re mistaken.  I won’t/don’t follow links to “superuser” or other such wikis.

Eric F Crist

[2020-05-15 22:21] mmokrejs commented on #385
So what what is wrong with my keys? As I said, `nonRepudiation` and `keyEncipherment` are missing in the client certificate from `keyUsage`. How can I get them added?

[2020-05-15 22:32] mmokrejs commented on #386
[code]

[code]

[2020-05-15 22:48] ecrist commented on #386
$ random shit

Blah

???

Eric Crist

[2020-05-15 23:40] TinCanTech commented on #386
The reason there are vars to edit is _so_ that you can edit them.

[2020-05-15 23:44] TinCanTech commented on #385
They work ok for me.

[2020-05-18 14:58] kforner opened #387 "how to use AES-256-CBC ?"
Hello,

Very naive question: the default openvpn on ubuntu 16.04 does not seem to support AES-256-GCM.
Is is possible to use `easy-rsa` to configure the certificates for `AES-256-CBC` ?

Thanks!

[2020-05-18 15:42] TinCanTech commented on #387
Given that AES-256-GCM is a cipher which is used by OpenVPN, you probably have an old version of OpenVPN.  See this for help:
https://community.openvpn.net/openvpn/wiki/OpenvpnSoftwareRepos

[2020-05-18 15:50] kforner commented on #387
Yes that's true. We also have bunch of users. That's why I was looking for a way to use AES-256-CBC instead so that we do not have to reach out to all user and ask them to update their openvpn version.
Does it make sense ?

Thanks for your quick reply!

[2020-05-18 17:00] TinCanTech commented on #387
Why are you asking on Easy-RSA bug tracker ?

[2020-05-18 17:25] kforner commented on #387
I apologize for my poor understanding on that matter.
Here's what I understood:
- we setup an AWS VPN (for which we use the openvpn client)
- the certificates for this VPN have been generated by `easy-rsa`, as recommenced by aws
- this vpn requires `AES-256-GCM`

I assumed that this `AES-256-GCM` requirement was induced by the certificates generated by `easy-rsa`, so I was trying to see if it was

[2020-05-18 18:13] TinCanTech commented on #387
Your assumption is incorrect.

Please start here:
https://forums.openvpn.net/viewtopic.php?f=30&t=22603

[2020-05-20 12:46] kforner commented on #387
Thanks a lot. This was really helpful!

[2020-05-20 12:46] #387 closed

[2020-05-22 20:55] mmokrejs commented on #385
For me works easy-rsa-2.1.1. approach to generate certs for openvpn-2.4.9 (using only a single CA used to sign both, server and client certs -- assumingly the less secure approach). Here are the key diiferences IMO:

[code]

[2020-06-17 15:52] lyoungstratus opened #388 "Need a way to import a certificate"
Consider the case where two certificates are created in two different copies of a PKI directory. This could arise, for example, if the PKI directory is kept in a Git repository. Now after realizing that this fork has occurred, we would like to revoke both certificates. Without a way to import an existing certificate into a PKI, I don't see how to generate a CRL that covers both certificates.

[2020-06-30 22:44] avkonst opened #390 "CSR can not be signed with serialNumber extension"
This is a bug report.

### Brief description

`--copy-ext` of `sign-req` command does not work. It results in `ERROR: adding extensions in section default`

### Full description

#### How to reproduce and actual result:

1. Init CA:
[code]

2. Import CSR:

[code]

3. Issue certificate with copy extensions flag:
[code]

#### Expected result:

Certificate is issued successfully and Subject field inc

[2020-07-09 00:54] ohiogeek8215 commented on #333
Agree and no code of conduct or security
Lock it down

[2020-07-09 02:00] ecrist commented on #333
What does this mean?

[2020-07-10 08:28] zjagust opened #391 "Zip/Tgz packages naming convention"
Hello,

This is more maybe a "feature request" than issue, but still here it goes.

I'm trying to write a script that will download and install the latest version of EasyRSA on my Linux machine. I managed to write a "check" that will determine the latest version of your zip/tgz EasyRSA package based on version number, when I encountered the following problem; almost every release has a different f

[2020-07-10 12:11] ecrist commented on #391
Hah, yeah, that's kinda lame of me.  I'll stick to the EasyRSA-M.m.r.tgz format in the future.  The windows releases will be similar, with Win added (EasyRSA-Win-M.m.r.zip).

Apologies for the oversight on my part. I'm marking this "closed" since there isn't a to-do really short of my naming the files on release.

[2020-07-10 12:11] #391 closed

[2020-07-10 12:13] zjagust commented on #391
Much appreciated!

[2020-07-10 15:18] jrocha opened #392 "export-zip"
Would it be ok to write a patch for a feature to export required files for client (ca.crt, client-key.crt, client-key.key) to zip file?

I'm planning to add something like `./easyrsa export-zip client-key`

[2020-07-10 15:29] TinCanTech commented on #392
Possible candidate for https://github.com/TinCanTech/easy-tls ?

[2020-07-10 20:02] ecrist commented on #392
This would be possible, and a good candidate for acceptance into the code base.

[2020-07-10 20:04] ecrist commented on #392
That particular bit of code isn't yet included in the base EasyRSA distribution.  We're happy to accept it on another PR if it meets project requirements.

[2020-07-15 21:49] hellkaim opened #393 "Easy-RSA no access to CRL.pem by nobody:nogroop"
Hi,
According to the line below
https://github.com/OpenVPN/easy-rsa/blob/e68faed0a3832028ed2e9999cd2013d9664bd067/easyrsa3/easyrsa#L1309

Easy-RSA is generating a file in a directory OpenVPN will not be able to access at all as it mostly run under nobody:nogroup credentials.
Please mention somewhere in the Doc's that it should be copied in an appropriate location or otherwise made accessible to no

[2020-07-20 19:30] edwardxia commented on #380
You need to set `EASYRSA_CURVE` instead of `EASYRSA_KEY_SIZE`.

`EASYRSA_CURVE` is for ECDSA and EdDSA, `EASYRSA_KEY_SIZE` is for RSA. Those are different systems.

[2020-07-31 21:20] tgross35 opened #395 ""Extra Arguments Given" when using build-ca"
Running `./easyrsa build-ca` from mksh asks for a password, then always says:

[code]

This happens even when the passwords are identical.

Running with the nopass option completes successfully

Windows 10, EasyRSA-3.0.7

[2020-07-31 21:26] ecrist commented on #395
There are some special characters that cannot be escaped. Can you confirm with a simple password or let us know what the special character is?

Eric Crist

[2020-07-31 22:09] tgross35 commented on #395
I originally tried it with special character passwords including * or @, but later I tested with just "1234" and it still refused to work. I will have to try again starting from scratch

[2020-08-08 10:43] scrouthtv opened #396 "Cannot load private key file"
I'm currently trying to setup an openvpn server on a Raspberry Pi running Arch Linux.
I have `openvpn 2.4.9-2` and `easy-rsa 3.0.7-1` installed.

After creating them on a different CA machine, I have these files:
[code]

My config is this:
[code]

When I run `openvpn server.conf`, I get this error message:
[code]

My `archpi.key` is of this format (I read somewhere that they should have to have an

[2020-08-08 15:57] scrouthtv commented on #396
Switched from elliptic curves to df, now it's working

[2020-08-08 15:57] #396 closed

[2020-08-13 16:28] Saicopate commented on #395
Same problem here.

[2020-08-14 13:16] node13h commented on #395
This issue might be caused by spaces in the path easy-rsa is installed in. It derives temporary directory path from it's own by default and passes it to `openssl` unquoted. A workaround for this is to set the `EASYRSA_TEMP_DIR` to a path without spaces (please make sure the path is secured and cannot be accessed by other users as this path is used to temporarily store secrets.

[2020-08-29 10:21] ZOOUQinn opened #400 ""genrsa: Unrecognized flag passin" when using build-ca"
Get message bellow, running ./easyrsa build-ca

[code]

Are there anyone can figure it out?

By the way, the OS is Ubuntu.

[2020-08-29 13:15] ecrist commented on #400
What version of EasyRSA?

Eric Crist

[2020-08-31 08:49] ZOOUQinn commented on #400
Easy-RSA 3

In fact, I followed steps in [Easy-RSA 3 Quickstart README](https://github.com/OpenVPN/easy-rsa/blob/master/README.quickstart.md)

[2020-08-31 08:50] ZOOUQinn commented on #400
Easy-RSA 3

In fact, I followed steps in [Easy-RSA 3 Quickstart README](https://github.com/OpenVPN/easy-rsa/blob/master/README.quickstart.md)

[2020-08-31 09:13] ZOOUQinn commented on #400
Well, the issue will not occur if I download ver3.0.7 from releases page instead of 'git clone' one.

[2020-08-31 09:13] #400 closed

[2020-08-31 09:16] ZOOUQinn commented on #400
Thanks for your reminding, I figure it out that I used wrong version.

[2020-09-02 13:40] Kaju-Bubanja opened #401 "How can I find which version of easyrsa I have?"
Calling easyrsa I get:
[code]

How can I find out _exactly_ which version of easyrsa I have? Because I'm running into another issue which is aledgely fixed, but not for me. Now I wonder if I have an old version or if the issue is not fixed.

[2020-09-02 13:50] Kaju-Bubanja commented on #261
This is still happenening for me.

[2020-09-02 14:04] ecrist commented on #261
I just don’t know if it’s worth the effort fixing this in busybox.  Hardly makes sense that their cp utility is limited in function but rsync is available.  We will not be using rsync within easy-rsa at this time.

Eric F Crist

[2020-09-02 14:21] #401 closed

[2020-09-02 14:23] ecrist commented on #393
This isn't really an EasyRSA issue, as it's just permissioning on your system, and how you're deploying the CRL.  What you could do in your case is have a cron job that runs periodically to copy the file and change ownership/permissions for your OpenVPN process.

[2020-09-02 14:23] #393 closed

[2020-09-02 14:31] #384 closed

[2020-09-02 14:34] ecrist commented on #386
There's a number of low-power use cases for EasyRSA still, and changing this default would be potentially disruptive.  In truth, as @TinCanTech stated, the whole point of the vars file is so you can make the defaults what you want.  Rejecting this issue for now.

[2020-09-02 14:34] #386 closed

[2020-09-02 15:22] theAkito commented on #261
I guess, busybox tries to use many different tools on a basic level. That results in `rsync` being available, when `cp` is only basic.

That said, how would you define a bug worth fixing? I think it depends on how likely you are impacted by it (in theory) and how many people are how much impacted by it (in practice). We have several people here struggling with this issue.
Doesn't that already make

[2020-09-02 15:24] #377 closed

[2020-09-02 15:28] ecrist commented on #261
If we start using rsync, then I have to ship rsync on Windows, too.  The Windows user base of EasyRSA is far greater than that of busybox.  Maybe you manage an open source project larger than EasyRSA and you're speaking from experience, but I've found it is nearly impossible to make everyone happy.  If you have suggestions, I'm all ears.

Maybe don't use symlinks?

[2020-09-02 15:48] theAkito commented on #261
@ecrist

I don't see it black and white like that. It's not a question of "use this or use that". There is a lot of software that has exceptions and compatability modes, that you can enable when running them, even though these modes are used by maybe 0.1% of all users.
If we take this fact as an example, there could be for example a switch for that, which allows using `rsync` for compatability rea

[2020-09-02 16:11] ecrist commented on #261
It adds test paths. I'm not entertaining this further.

Eric Crist

[2020-09-02 18:03] codebling commented on #261
Understand if this won't receive a fix, but just to clarify, I thought this was fixed in 3.0.7?

I can't find any commits specifically mentioning the issue, but I'd like to understand if a fix was made and that fix revealed that there is an additional problem (the fix never fully resolved the issue), or if a fix was made and it resolved the issue for some people but others are still experiencing t

[2020-09-02 18:06] ecrist commented on #261
I don’t believe this was ever fixed.  I see my comment about a fix in 3.0.7, but I cannot find a commit, either.

Eric F Crist

[2020-09-02 18:06] TinCanTech commented on #377
I already suggested a fix but it was rejected

[2020-09-02 18:48] TinCanTech commented on #261
This was an `openssl` issue which was not addressed by `easyrsa` because it was not necessary to do so.

[2020-09-02 19:06] codebling commented on #261
Ok, thanks for the info.

I'm seeing suggestions that this may be:
 * [related to a change in OpenSSL config](https://github.com/OpenVPN/easy-rsa/issues/261#issuecomment-447702334), or
 * to do with a kludgy `busybox cp` implementation

If this is related to an OpenSSL config change, it might be worth fixing. As suggested [in one of the earlier comments](https://github.com/OpenVPN/easy-rsa/issues/

[2020-09-02 19:19] ecrist commented on #261
Locking this conversation.  Please open a new issue if problems persist.

[2020-09-02 19:51] TinCanTech opened #402 "[Information] Can't load ./easy-rsa/pki/.rnd into RNG -- V2"
See #261

[code]

This is an `openssl` issue which was resolved in `openssl`.

The reason given By OpenSSL was:

OpenSSL did drop the message in a later version of OpenSSL. (The exact details of which can be found in the OpenSSL Github history)

[2020-09-03 15:37] ionred opened #403 "genrsa: Unrecognized flag passin"
Recent builds are returning this error.
____
root@SYSNAME:/mnt/VPN/easy-rsa/easyrsa3# easyrsa build-ca
Using SSL: openssl OpenSSL 1.1.1g  21 Apr 2020

Enter New CA Key Passphrase:
Re-Enter New CA Key Passphrase:
**genrsa: Unrecognized flag passin**

Easy-RSA error:

Failed create CA private key
____

Perhaps related to commit 768b66cfdd26b510e04686776e28368b02072aac ?

[2020-09-08 21:22] GMasta2000 commented on #395
In easyrsa script for rsa on line 672, insert code
[code]

Result
[code]

openssl version
OpenSSL 1.0.2k-fips  26 Jan 2017

No -passin option
"-passout arg    output file pass phrase source"
Sorry for my English!

[2020-09-09 02:32] katherine-curtis commented on #403
This appears related to https://github.com/OpenVPN/easy-rsa/pull/399/files#diff-231cb43897d7aa2a98dfda5720c2b40fR673

[2020-09-09 19:39] #395 closed

[2020-09-09 19:39] #403 closed

[2020-09-09 19:44] ecrist commented on #388
I won't say this is an invalid request, but this really dives into an oddball corner case.  Really, importing the certificate isn't necessary, it just needs to be placed in the right path within the pki dir for easy-rsa to find it.

I'll leave this open for now, but I'm not sure we'll ever actually do anything to support an import mechanism.

[2020-09-09 20:11] ecrist commented on #111
I've done some digging, and I don't think this is a problem in master at this point.  I also could not reproduce this with v3.0.7.

My steps to test this, on macOS Catalina:

1)  Download the v3.0.7 tgz release file
2) tar -xzvf EasyRSA-3.0.7.tgz
3) ./easyrsa init-pki
4) ./easyrsa build-ca
5) answer prompts
6) Use openssl to inspect pki/ca.crt:
`ecrist@marvin:~/Downloads/EasyRSA-3.0.7-> openssl x5

[2020-09-09 20:11] #111 closed

[2020-09-11 23:18] jrocha opened #405 "Not working on windows"
Just tried to build a fresh CA and creating an certificate an it failed. Works on Cygwin.

Could not figure what is going on but I'm guessing there is an issue around line 385 when running `sed` to generate `$easyrsa_openssl_conf`.

Execution output below.

[code]

[2020-09-11 23:33] jrocha commented on #405
Just tried Easy-RSA 3.0.7 and it works. Probably the issue is related to openssl upgrade on 3.0.8

[2020-09-16 11:16] dsommers opened #406 "easy-rsa upgrade - documentation"
We want to include the latest easy-rsa 3 release in the soon coming OpenVPN 2.5 release, where it is bundled in the Windows installer.

From a quick glance, it seems there is missing some documentation *how* to perform upgrade from prior easy-rsa 2 releases.  A quick howto which we can include in the bundle and/or point at somewhere would be appreciated.

The OpenVPN 2.5_rc1 release is currently s

[2020-09-16 12:10] TinCanTech commented on #406
https://community.openvpn.net/openvpn/wiki/easyrsa-upgrade

[2020-09-16 12:19] ecrist commented on #406
I also need to push an update for v3.0.9 that either downgrades OpenSSL or fixes the bug 1.1.1g is causing.  I’ll try to get to that tonight.

Eric F Crist
Mobile: 612-998-3588

[2020-09-16 12:32] dsommers commented on #406
@mattock Any issues with just pointing at the URL from @TinCanTech ?

[2020-09-16 13:08] ecrist commented on #405
Ok.  I've re-rolled the v3.0.8 release with a revert of the last commit.  v3.0.8 now uses the older 1.1.0j OpenSSL binary and libs.  This appears to be working in my testing.

[2020-09-16 13:09] ecrist commented on #406
I’ve re-released the v3.0.8 packages for Windows and this appears to be working now with the older OpenSSL library and binaries.

Eric F Crist

[2020-09-16 17:04] TinCanTech commented on #406
@dsommers the link above was something i put together while working on the upgrade.

It could do with improvement, which is why it is on the wiki, so that i can edit it at will.

[2020-09-16 17:33] lyoungstratus commented on #388
I thought it also needs an entry in the  index file.  I did have occasion to figure out what I had to do to satisfy the revocation function, and it turned out to be easy enough.

[2020-09-16 18:44] dsommers commented on #406
Alright, would you be willing to whip together something we can ship in the 2.5 release, based on that wiki page?

[2020-09-17 02:04] TinCanTech commented on #406
Sorry, I would **not** _be willing to whip together something_ -- I will edit the wiki as needed.

Personally, I do not believe EasyRSA-3 is entirely ready for _mass deployment_.

[2020-09-17 03:32] ecrist commented on #406
I can put something together in the official docs based on what is in the wiki. Give me a day or two.

[2020-09-18 08:28] cron2 commented on #405
Is root cause diagnostic of the problem going on somewhere?  We ("OpenVPN") would like to bundle easy-rsa 3, but we're not thrilled by the idea of bundling a second openssl binary, and doubly-not-thrilled by packing something that is end-of-support already...

[2020-09-18 08:57] lstipakov commented on #405
I tried the command above `./easyrsa build-server-full test0 nopass` with openssl (also 1.1.1g) bundled with openvpn installer and it just works. OpenVPN's openssl filesize is 1.3Mb, while easyrsa's one is 700kb. Apparently something got stripped out during build process.

[2020-09-18 09:20] ecrist commented on #405
I've been trying to figure this one out. We have been using a recompiled binary and I wasn't aware it may be the issue.

[2020-09-18 09:22] lstipakov commented on #405
`openssl ciphers -v` output is identical. Here is `version -f` output comparison:

[code]

[code]

[2020-09-18 12:56] ecrist commented on #405
This appears to be related to the build we are using from [overbyte.eu](http://wiki.overbyte.eu/wiki/index.php/ICS_Download).  I've tried another build from [bintray.com](https://bintray.com/vszakats/generic/openssl) that appears to work fine.  I'll push that version into master and wait to see if there are other bugs.

[2020-09-18 13:40] #405 closed

[2020-09-23 02:45] Neustradamus opened #407 "OpenSSL 3.0.2 - OpenSSL 1.1.1n"
EDIT: At this date: 2022-03-15:
OpenSSL 3.0.2 and OpenSSL 1.1.1n out:
- https://www.openssl.org/

Time to update in this repo:
- https://github.com/OpenVPN/easy-rsa/search?p=1&q=openssl

[2020-09-28 19:36] jiang-wei commented on #259
YES
I just upgraded from v3.0.6 to v3.0.8 and forgot to run `easyrsa upgrade pki` under v3.0.7. See error messages above

Returns to v3.0.7, execute the upgrade

Then it's working under v3.0.8

[2020-10-01 01:36] justfly1111 commented on #342
i have same issue when attempting  o export p12 see bellow

root@freya:/usr/local/git/easy-rsa/easyrsa3 # ./easyrsa export-p12 nginx-client

Note: using Easy-RSA configuration from: /usr/local/git/easy-rsa/easyrsa3/vars
Using SSL: /usr/local/bin/openssl OpenSSL 3.0.0-alpha6 6 Aug 2020 (Library: OpenSSL 3.0.0-alpha6 6 Aug 2020)
Enter Export Password:
Verifying - Enter Export Password:
0020E10008000

[2020-10-01 08:55] joksik opened #408 "ECDH under Windows in latest version"
Hello i download latest version easy-rsa for Windows EasyRSA-3.0.8 x64

after i rename file vars.example to vars and edit vars file with this change:
set_var EASYRSA_ALGO		ec
set_var EASYRSA_CURVE		secp384r1

i do:
cd C:\Program Files\OpenVPN\easy-rsa\
.\EasyRSA-Start.bat
./easyrsa init-pki
./easyrsa build-ca nopass
./easyrsa gen-req Myserver nopass

and in last command gen-reg i have error:
Easy-

[2020-10-02 13:55] joksik commented on #408
weird.
 today i accidentally moved the whole easy-rsa folder from C:\Program Files\OpenVPN\easy-rsa to my download folder and in another folder I can sucesfull generate ec certificate.
So I have given full permissions to C:\Program Files\OpenVPN\ but unfortunately when generating the ec certificate from Program Files I cannot however from any other location like Downloads or Desktop i can really w

[2020-10-02 14:13] TinCanTech commented on #408
Perhaps the space in `\Program Files` is confusing EasyRSA 3.0.8 somehow ?

[2020-10-02 16:17] joksik commented on #408
Maybe first I installed openvpn 2.5 rc1 then openvpn 2.5 rc2 also couldn't generate ec keys (with rsa
I had no problem) so i try the latest version easy-rsa from github and after unpack put into "Program Files" like openvpn installer does by default.

if someone tells me how to provide more logs under Windows I will be happy to help

[2020-10-04 09:52] viharm commented on #71
Yes, I was concerned about this too. However based on the comment by @marcoslois , I tried with a simple start.

I added the following line to ...`/EasyRSA/IntCA/x509-types/server`
[code]
All certificates issued since, have this CRL distribution point (obfuscated) in it.

I have however revoked a test certificate and placed the new CRL at the above CDP, but somehow both _Firefox_ and _curl_ still

[2020-10-04 10:00] viharm commented on #71
Just noticed a very good explanation in #15 here https://github.com/OpenVPN/easy-rsa/pull/15#issuecomment-30857218.

There is already built-in support for CDP. Simple uncomment this line https://github.com/OpenVPN/easy-rsa/blob/19a20046ca0110ad5435d69f481c5148726af252/easyrsa3/x509-types/COMMON#L7 and change the URL to point to your CDP.

No need to specifically add the line to the `server` config

[2020-10-05 16:02] ipalazzi opened #410 "Unable to get private keys in RSA form"
After creating a CA key-pair, when I request a new entity certificate using the gen-req function I see that private key is generated in PEM instead of RSA. I noticed this reading the key file that starts with `-----BEGIN PRIVATE KEY-----` instead of `-----BEGIN RSA PRIVATE KEY-----`.

Consider that the variable `EASYRSA_ALGO` is set to `rsa` (`set_var EASYRSA_ALGO rsa`).

Am I missing something?

[2020-10-07 12:59] itaru2622 commented on #265
@ecrist

please refer my branch at https://github.com/itaru2622/easy-rsa/tree/exportp12-nopass
which  can archive:
  easyrsa export-p12 EntryName nopass

I can send PR if you re-open this issue.

openssl pkcs12 -export  has  -password option, and empty password is accepted on the test.
i.e:  openssl pkcs12 -export -password pass:  ...
refer manuals for detail (pkcs12, openssl).

[2020-10-15 19:24] Tulskie commented on #343
I have the same problem.
v3.0.8
$ ./easyrsa sign-req server server

Note: using Easy-RSA configuration from: /c/xampp/htdocs/easy-rsa/easyrsa3/vars
Using SSL: openssl OpenSSL 1.1.1g  21 Apr 2020

You are about to sign the following certificate.
Please check over the details shown below for accuracy. Note that this request
has not been cryptographically verified. Please be sure it came from a trust

[2020-10-26 18:32] TinCanTech opened #412 "Spaces in PATH"
_Originally posted by @node13h in https://github.com/OpenVPN/easy-rsa/issues/395#issuecomment-674069768_

The comment above is probably correct.

I used EasyRSA from **OpenVPN-2.5-rc3-I601-x86.msi** which ships with patch https://github.com/OpenVPN/easy-rsa/commit/1e98ba808c9c90629595827773a66b59f8c9b927 applied.

`build-ca` fails with the OpenSSL message `Extra arguments given`.

**Workaround**:

[2020-10-27 16:54] TinCanTech commented on #412
For debugging; using `build-ca`, this is the command which fails:
[code]

[2020-10-29 17:08] JulienPalard opened #414 "Document how to port away from pkitool"
Hi!

I just spotted that pkitool was removed in 346adba3f36648156dcd4ed839ec2de508186f09, 7 years ago (yes I just upgraded a Raspbian to Buster).

There's my ansible playbook, and [a few scripts](https://github.com/search?l=Shell&q=pkitool&type=Code) that rely on `pkitool`, I think it would be nice to document how to "port away from" pkitool cleanly, maybe on the https://easy-rsa.readthedocs.io/en

[2020-10-30 13:48] JulienPalard commented on #414
Was able to restore a working state of my ansible playbook by using this small shell script, highly inspired from easy-rsa v2.

Disclamer: Hi stranger landing on this page by searching where's the lost pkitool! I'm in no way an openssl expert, don't trust me, don't use this in production if you don't fully understand what's your doing and why you're doing it. Following the [quickstart](https://git

[2020-11-02 09:09] XIYO opened #415 "How to run easy-rsa beautifully"
Ubuntu 20.04 LTS

I'm not good at English, so I used a translator.

I installed easy-rsa via apt to make an openvpn server.
I tried easy-rsa to run this, but nothing came out.
I tried

but nothing happened.
So I found the location with

and ran it directly.
I think this is not a beautiful way. Is there a cooler way?

[2020-11-03 19:07] Alexhha commented on #415
I checked in docker
[code]

It should be located in `/usr/share/easy-rsa`
[code]

[2020-11-04 01:17] XIYO commented on #415
I used Google Translator.
If it is a polite sentence or the grammar is strange, please mess with it.
I will fix it. Thank you.

Thanks for the answer.
That's not what I want.
Because it looks for the file location exactly like "find".

What I'm looking for is a way to use it like "make-cadir".
(I found this command on the web.)
I read the quick guide and searched for references.
But I couldn't fin

[2020-11-04 10:26] Alexhha commented on #415
not sure what do you mean. make-cadir it's a bash script that shipped with easy-rsa package. There is no point to call it directly. You should use /usr/share/easy-rsa/easyrsa

[code]

[2020-11-06 17:33] ChrisBaker97 opened #416 "$EASYRSA_OPENSSL is ignored on Mac"
I'm using macOS 14.6. I've installed OpenSSL with [Homebrew](https://github.com/Homebrew), which links it into `/usr/local/opt/openssl@1.1/bin/openssl` to prevent conflicts with the system LibreSSL at `/usr/bin/openssl`:

[code]

I've renamed `vars.example` to `vars` and edited it to include:
[code]

I've also defined `$EASYRSA` to point to the location of the `vars` file, and other configuration

[2020-11-06 19:57] TinCanTech commented on #416
Yes, there is a bug.

The `print_version()` function implicitly uses `$PATH` not `$EASYRSA_OPENSSL` to call `openssl` binary.

[2020-11-06 20:39] ChrisBaker97 commented on #416
Thanks. Does this only affect `easyrsa --version`? In other words, everything else will use what's specified in `$EASYRSA_OPENSSL`?

[2020-11-07 02:40] ecrist commented on #416
Only affects the —version argument.  I’ll push a patch for this.

Eric F Crist
Mobile: 612-998-3588

[2020-11-07 02:51] #416 closed

[2020-11-07 02:54] ecrist commented on #415
I'm closing this.  The real question is for the package maintainer, who I have no contact/relationship with.

[2020-11-07 02:54] #415 closed

[2020-11-07 02:58] ecrist commented on #414
What does this do that easyrsa 3 doesn't with batch?

[code]

[2020-11-07 10:11] JulienPalard commented on #414
Probably nothing, I'll have to test it next week, I'll tell you. If it works I'll propose a PR to try to document what was missing for me, which is probably a good start.

[2020-11-07 16:44] ChrisBaker97 commented on #416
Thanks, @ecrist. I tested this, and it does seem to work if the `$EASYRSA_OPENSSL` environment variable is set:
[code]
but not if it's only set in `vars`:
[code]

[2020-11-07 19:19] ecrist commented on #416
Don't use the -- in front of the option.

Eric Crist

[2020-11-07 20:33] ChrisBaker97 commented on #416
Hmm. Okay, that works. I don't understand why `--version` works if `$EASYRSA_OPENSSL` isn't defined in `vars` or if it's overridden by the environment, but I guess it doesn't matter.

[2020-11-11 10:36] nickbeee commented on #405
The OpenSSL builds at https://bintray.com/vszakats/generic/openssl are no longer updating and the repo is marked DEPRACATED. This now refers to the curl Windows builds at https://curl.se/windows/ - where OpenSSL 1.1.1h is available.

[2020-11-11 10:56] amishmm commented on #158
Setting it as environment variable is one time solution and you always need to remember to set it.

More accurate solution would be to put this is `vars` file: (located under `pki` directory)

```set_var EASYRSA_CRL_DAYS 3650```

This will make sure that even in future it will remain so.

[2020-11-13 11:10] JulienPalard commented on #414
I think the hard part now is that what I did generated a flat hierarchy and now I have to move things in directories. It may not be that hard, but it's strange to have to do it, I would have expected a compatible mode to use the "old hierarchy", or a tool to copy things at the right place in the new hierarchy. (Or maybe I did it particularly wrong with easy-rsa 2 yielding to the current situation.

[2020-11-13 12:12] BlackFIlms commented on #412
Same issue. =/

[2020-11-13 13:43] JulienPalard commented on #414
So, I'm playing with https://gist.github.com/JulienPalard/d88c59f20b42a97dc6c385cb1bf70860 to see if I can "sort" my files as easyrsa3 want them to be. Don't hesitate to tell me if I do it completly wrong, or don't hesitate to ask me to publish on pypi to make it easier to use if it's any usefull.

[2020-11-13 14:31] TinCanTech commented on #414
Have you tried `./easyrsa upgrade` ?

[2020-11-13 14:51] JulienPalard commented on #414
[code]

with easy-rsa 3.0.6.

[2020-11-13 15:06] TinCanTech commented on #414
The upgrade comes with version 3.0.8

[2020-11-13 15:36] JulienPalard commented on #414
Oh. Would it be a good idea to document the upgrade procedure in the https://github.com/OpenVPN/easy-rsa/blob/master/doc/EasyRSA-Upgrade-Notes.md page?

I have no 3.0.8 to experiment with, so I don't feel like writing it myself, but as a user I would have enjoyed too look like:

[code]

I, sadly, don't know the correspondance between old and new commands, so I don't think I can do it myself withou

[2020-11-13 16:30] TinCanTech commented on #414
https://github.com/OpenVPN/easy-rsa/releases

[2020-11-17 22:41] IPv4v6 opened #417 "Remove issuer from authorityKeyIdentifier in X.509 extensions"
Current:
[code]

The authorityKeyIdentifier should only contain the **keyid**. The keyid is sufficient and it is common practice in public certificates.

See the Mozilla certificate policy:
https://www.mozilla.org/en-US/about/governance/policies/security-group/certs/policy/#52-forbidden-and-required-practices

incorrect extensions (e.g., SSL certificates that exclude SSL usage, or **authority key

[2020-11-18 04:32] gilbertosilvaoliv commented on #408
This works for me, Thank you!
May be the space on path "program files".

[2020-11-24 20:32] steffenfrederiksen commented on #395
I can confirm this is still an issue if the path to easy-rsa contains spaces, for exsample. C:\Program Files\OpenVPN\EasyRSA-3.0.8
If easy rsa is locate in a path without any spaces, then no problem.

[2020-11-30 09:46] bradleysmith commented on #375
The OP has failed to respond to the last request but I have the exact same issue and am happy to provide the requested information if that's still valid?

Basically this did work, and then some time later (machine will have rebooted at least once I believe) requests to build a new client stops working. This has happened twice now on two different installations although IIRC it was on Ubuntu 20.04

[2020-11-30 15:50] ecrist commented on #375
By all means, if you have debug info, please share.

[2020-12-01 11:10] bradleysmith commented on #375
[easyrsa-build-client-full-output.txt](https://github.com/OpenVPN/easy-rsa/files/5622106/easyrsa-build-client-full-output.txt)
Output attached

[2020-12-05 22:26] Bengt-M commented on #385
I had similar problems. I put “nsCertType = server” into x509-types/server and “nsCertType = client” into x509-types/client. No idea if that was the best way but I think that was what solved it.

[2020-12-08 19:47] ashu-savani commented on #375
Apologies for the delay on here. The reason I was not responding is because I came up with a (temporary) solution for the issue.

I noticed that the `index.txt` file located at `/etc/openvpn/easy-rsa/pki/` would contain some characters at the end of the file. The last time I had this issue, the file contained `.` or `...`

We use an API to generate OpenVPN configuration files and I assume that the

[2020-12-16 00:23] TinCanTech commented on #122
Also, EasyRSA has an inline function now.

Also, [Easy-TLS](https://github.com/TinCanTech/easy-tls) has enhanced inlining to cover all TLS keys. Check it out !

[2020-12-16 00:27] TinCanTech opened #419 "Renew function should not move files until after checks are completed."
Currently, `./easyrsa renew foo` moves the certificate `foo.crt` before verifying that `renew` is supported by this PKI/CA. The result is a mess to a user ..

[2020-12-17 05:47] sbstnmrwld opened #420 "EASYRSA_REQ_CN/--req-cn not used"
Hello,

when I `easyrsa --dn-mode="org" --req-cn="MY CN" gen-req test nopass`, the default CN is always the NameOfRequest

[code]

It is the same behaviour when I use `build-client-full` and `--batch`.

I need to have different CN and NameOfRequest.

Regards

Edit:
I think that the problem was addressed in the following PR: https://github.com/OpenVPN/easy-rsa/pull/227

[2020-12-21 14:35] sebrandon1 opened #421 "Question: After revoking a cert, what needs to be kept around?"
Hello!  I just have a quick question about what needs to be kept around after revoking a cert.

After revoking a cert using `easyrsa revoke`, then running `easyrsa gen-crl` which generates/updates the `crl.pem` file, the revoked cert is listed with an "R" in pki/index.txt and the leftover `<ID>.pem` file is left in `certs_by_serial`.

Since the referenced revoked cert is listed in the `crl.pem`, a

[2020-12-21 17:06] sebrandon1 commented on #421
Just digging through some previously written issues, [this one](https://github.com/OpenVPN/easy-rsa/issues/104) seems close to what I'm asking but doesn't quite touch on what happens if I remove `/pki/certs_by_serial/<ID>.pem` after it has been revoked.

[2020-12-27 12:32] lazna opened #422 "missing windows batch files"
Just upgrade OpenVPN to ver 2.5 and it seems switch from EasyRSA 2.x to 3.x where most of batch files (i am use) missing. Is there any recomended method to create a new PKI infrastructure in windows environment in ver 3?

Second question:

Trying to automatize creation of users certificate in the environment of windows batch scripting. Have three command derived from previously present EasyRSA bat

[2020-12-27 14:09] ecrist commented on #422
EasyRSA has changed considerably in 3.x.  You should just see EasyRSA-start.bat, which sets up the environment.  From there, all other commands are run just like like they'll would be on Linux.

Eric F Crist
Mobile: 612-998-3588

[2020-12-27 14:42] lazna commented on #422
Thanks for reply. I saw the EasyRSA-start.bat and as far as I understand, it just read path to openvpn form registry and start linux shell. So whole easyrsa is now big linux shell script, windows batch files are no more supported right? But I see there only windows openssl binaries, so the shell script finaly produce parameters to openssl.exe and run it? If my theory is right, it should be possibl

[2020-12-27 16:28] ecrist commented on #422
You are thinking somewhat correct but if you do that you're just rewriting EasyRSA.

Eric Crist

[2020-12-27 17:15] lazna commented on #422
Not really, just trying to create single-purpose three-commands script in windows native scripting enviromment. I am able to do windows scripting, but unable to read linux script :-/

Do you know why linux scripting was choosed for windows distributions of EasyRSA? Wasnt possible to use windows native scripting?

[2020-12-27 19:14] ecrist commented on #422
Sure, it was possible but then we would have to maintain two versions of EasyRSA.

Eric Crist

[2020-12-27 19:31] lazna commented on #422
Understand now

About my second question: could you sugest me what parameters missing in my commands. Googling for a long time but have no found any examples how to create client certificate without an EasyRSA config file.

In the meantime found the add parameter 'rsa:2048' to command line avoid one error line in first command, but have no idea what more missing. Expecting each error line

`3296:e

[2020-12-31 03:24] compsup commented on #105
Can this please be fixed? Its really annoying not being able to use a name again.

[2020-12-31 04:05] TinCanTech commented on #105
It already *is* fixed. See `easyrsa upgrade ca`

https://community.openvpn.net/openvpn/wiki/easyrsa-upgrade#ersa-up33

[2020-12-31 20:40] compsup commented on #105
I am using the easyrsa script found here (https://github.com/angristan/openvpn-install/issues/652). When using this script the issue still persists.

[2021-01-05 15:42] sebrandon1 commented on #421
@QueuingKoala seems like you were the last one to touch that section of the documentation.  Do you happen to know?  I know that was like 7 years ago so it's a bit of stretch.

[2021-01-05 15:45] ecrist commented on #421
I will look at this tonight or tomorrow.

[2021-01-05 23:14] jasenmoloy commented on #395
+1 to @steffenfrederiksen's comment. Ran into the same issue, moved the easy-rsa folder to a path without `Program Files` in the path, and it was successful.

[2021-01-07 14:50] sebrandon1 commented on #421
@ecrist Any updates?  Just want to know what is good to "throw away" when done issuing the revoke.

[2021-01-11 14:31] ecrist commented on #421
Sorry for the delay.  You *really* don't have to keep anything around.  If you want to reissue a similar certificate it can be useful to keep the CSR around, but that's not required.

EasyRSA uses the certificate itself to revoke it, but once it's been revoked, you don't need anything.  In most PKI setups where the "P" really means public, the CSR is the only thing the CA receives from the user to

[2021-01-11 14:45] sebrandon1 commented on #421
No worries!  This is good to know.  Thanks!

[2021-01-11 15:06] ecrist commented on #422
If you are going to use EasyRSA, you need to edit the configuration file and set the appropriate variables.

[2021-01-11 18:25] sebrandon1 commented on #421
@ecrist One more question, what does `update-db` have to do with any of this revoking of certificates?

Does it have to be issued for the revoke to become "official" or does `update-db` just update the index.txt with an updated timestamp?  Trying to figure out what the doc is talking about.

https://www.sbarjatiya.com/notes_wiki/index.php/Easy-rsa

Thanks!

[2021-01-14 19:13] y0y0z commented on #412
[code]

worked  for me

[2021-01-15 13:24] g105b commented on #73
Hi everyone. I hope this will help solve this issue.

I'm using Docker as a mechanism to get a perfectly reproducable environment to isolate this bug. Within a fresh Docker container running Bash on Ubuntu, `docker run -ti --rm ubuntu /bin/bash`, issue the following:

[code]
Output I see:

[code]

I expect to see `test-client` as the CN. There doesn't seem to be a mechanism that works to set the C

[2021-01-25 12:59] AlD commented on #345
I was about to file the same bug as this one.

In the same vein, I was suprised to find that:
* Resigning a request (via `req-sign`) fails when there is an existing expired certificate.
* An expired certificate is labeled as `Valid`.
* Revoking a certificate also removes the CSR.

This is counter-intuitive. The functionality I was expecting also seems to be lacking. This make Easy-RSA harder to us

[2021-01-25 13:01] AlD commented on #345
The Let's Encrypt analogy doesn't work imho, because LE also takes care of the private key distribution, which is the hard part.

[2021-01-25 17:29] TinCanTech commented on #345
@AlD I also struggled to comprehend the way `renew` has been implemented here.

However, after stepping through the real work flow, I realised that: The reason the old certificate is not revoked immediately, when `easyrsa renew`'s the cert., is because the client still has the old cert. in use.  This gives the server/pki admin an indefinite grace period to distribute the new cert.

Unfortunately,

[2021-01-25 17:39] AlD commented on #345
Note that I was referring to a much simpler case than what you're describing, in which the certificate has already expired.

I only tried to revoke the certificate to unblock `sign-req`, which was still showing the expired certificate as `Valid` (presumaby because it only checks the state according to `index.txt`).

This of course also didn't help as `revoke` also removed the CSR for unclear reaso

[2021-02-01 17:58] motorollo commented on #93
I use easyrsa-3.0.7 and OpenVPN-2.5.0-I601-amd64.msi and
easyrsa sign-req client rechner.domäne.de dosent't work.
I get the message: Unknown cert type 'client'
The x509-types-folder is in place and a file client is there.
easyrsa-3.0.8, which is delivered with OpenVPN-2.5.0-I601-amd64.msi has other problems.

[2021-02-02 22:39] mbressman opened #428 "unable to write 'random state'"
Noticed I was getting this error (unable to write 'random state') when running EasyRSA commands on my CA computer.  I think maybe this is because I didn't run EasyRSA as a local administrator (it's running on a Win10 computer), but not sure.  Either way, any thoughts on this issue, and also whether this is a concern and I need to recreate the .ovpn accounts I've alreaddy created using EasyRSA?

Th

[2021-02-02 23:09] TinCanTech commented on #428
I believe this was fixed in version 3.0.7
#261

[2021-02-02 23:12] mbressman commented on #428
Guess I'll need to remember to update next time I need to create or revoke VPN accounts.  Are there any security issues with the current accounts I've created based on this issue?  Thanks!

[2021-02-02 23:57] TinCanTech commented on #428
I don't know how old your accounts are (not very old, considering when you reported this) but `unable to write 'random state'` should not compromise your security.

It was something that OpenSSL took care of some time ago.

[2021-02-02 23:58] mbressman commented on #428
Awesome - I feel better knowing that.  Thanks for the info!

[2021-02-09 04:10] TMTYD opened #429 "safessl-easyrsa.cnf not found"
Hi

when I run this ./easyrsa sign-req server, the following error message appears.

[code]
The entire directory does not contain a safessl-easyrsa.cnf file, where can I find it?

The only * .cnf file is openssl-easyrsa.cnf

[2021-02-09 16:15] TinCanTech commented on #429
Is this your first time using Easy-RSA3 or have upgraded to version 3.0.8 from an earlier release ?

[2021-02-09 16:39] TMTYD commented on #429
It's my first time using easy-rsa

[2021-02-09 17:24] TinCanTech commented on #429
How did you install Easy-RSA ?

[2021-02-09 19:58] TMTYD commented on #429
i got the easy-rsa 3.0.8 via wget and then unzipped the tgz file

[2021-02-09 20:01] TMTYD commented on #429
I found this, can I use this?
https://github.com/OpenVPN/easy-rsa/issues/363#issuecomment-614223703

[2021-02-09 20:28] TinCanTech commented on #429
Did you run `./easyrsa init-pki` first ?

[2021-02-09 20:30] TMTYD commented on #429
yes of course

[2021-02-09 20:40] TMTYD commented on #429
i found my mistake, i have this in the vars
set_var EASYRSA_SSL_CONF "$ EASYRSA / openssl-easyrsa.cnf" not commented out, after commenting out it works

[2021-02-09 21:18] TinCanTech commented on #429
Finding the cause is great.

Now I am curious why the default for `EASYRSA_SSL_CONF` does not work if specified in `vars` ?

[2021-02-09 21:29] TMTYD commented on #429
I can't tell you that, in any case, I've now commented out and it works

[2021-02-16 02:27] juerg-myosh opened #431 "default_crl_days config setting ignored due to config-file syntax"
The "default_crl_days" setting (for the gen-crl command) is ignored by OpenSSL because of the configuration file (openssl-easyrsa.cnf) syntax of that line. It requires a space (or tab?) after "default_crl_days" . The line should be:

`default_crl_days = $ENV::EASYRSA_CRL_DAYS	# how long before next CRL`

Currently, the line reads "default_crl_days= $ENV::EASYRSA_CRL_DAYS".

As a result, any EASYRS

[2021-02-21 23:13] mitsukuri opened #432 "release keys expired"
https://github.com/OpenVPN/easy-rsa/tree/master/release-keys
the key 0x9D7367F3 has expired on 2021-01-01

[2021-02-21 23:22] ecrist commented on #432
I'll get these updated.

Eric Crist

[2021-02-22 01:08] ecrist commented on #432
I renewed that key back on December 5th.  The updated key is already present on the key servers.

[2021-02-22 01:08] #432 closed

[2021-02-23 18:01] kousu commented on #350
easyrsa *can* do this, it's just not documented.

The [docs](https://github.com/OpenVPN/easy-rsa/blob/8ad3cd845c0512c85dd814c4ad8f4ece2dcbe052/doc/EasyRSA-Advanced.md#environmental-variables-reference) say there's only rsa and ec options:

[code]

but in the code there's *three* options:

https://github.com/OpenVPN/easy-rsa/blob/41a6bc6845f1e73641c8658f44dce67cd68fbb27/easyrsa3/easyrsa#L677-L694

[2021-02-23 18:05] kousu commented on #350
I guess I should mention that I'm using these versions:

[code]

And also there's [a bug](https://bugs.archlinux.org/task/57298) in arch at the moment which means I had to prefix everything above with:

[code]

[2021-02-23 19:32] kousu opened #434 "`easyrsa -install`"
https://github.com/FiloSottile/mkcert has a great feature which is `mkcert -install`. It installs the CA it generates in your cert stores:

- Edge on Windows
- nss (i.e. firefox) on mac and windows and unix
- /etc/ssl on linux
- etc
- it even does android? I think? If you plug it in over `adb`?

I'm a bit hazy on how it does this; I think it shells out to https://developer.mozilla.org/en-US/docs/M

[2021-02-27 05:58] arthur4ires opened #435 "Why not use a direct "pass:" on EASYRSA_PASSIN?"
Hello, I was having trouble signing certificates automatically, even after setting EASYRSA_PASSIN.

I realized that a "pass:" was missing before the variable, as described here in the stackoverflow.
https://stackoverflow.com/questions/30426586/how-to-specify-ca-private-key-password-for-client-certificate-creation-using-ope

Is this lack of pass on purpose?

Thanks for listening!

[2021-03-10 07:44] tranzitwww opened #436 "Request - show-crl"
Hi,
Can you please include a function to read the crl file from easyrsa

I do it manually using this command.
openssl crl -inform PEM -in X:/PKI/EasyRSA/pki/crl.pem -text -noout

Best regards,
Ninel

[2021-03-10 07:51] tranzitwww commented on #436
Also will be nice to have a list-certs with a search filter. ;)

[2021-03-10 07:58] tranzitwww commented on #436
Also please force replace the crl file. Now you must confirm that all the time

[easyrsa]
# gen-crl backend
-	mv "$out_file_tmp" "$out_file"
+	mv -f "$out_file_tmp" "$out_file"

[2021-03-31 09:34] peg-leg opened #437 "Windows issue with build-ca when easy-rsa is installed to a path with spaces"
build-ca fails when running easy-rsa from a path that has spaces in it on Windows (easy-rsa ver 3.0.8)

[2021-03-31 09:39] TinCanTech commented on #437
See #412

[2021-03-31 10:29] peg-leg commented on #437
My solution which also worked was to change the installation folder for the Easy-RSA scripts to c:\easy-rsa.

[2021-04-03 01:43] TinCanTech opened #438 "Copyleft compliance"
I would like to add a compliant copyright notice from Easy-RSA-3 to Easy-TLS.

So far the best i can come up with is to copy this:
[code]
into Easy-TLS.

However, I am willing to consider any preferred text to comply with Easy-RSA copyright.

I admit that without Easy-RSA that Easy-TLS would most likely not exist at all, so I want to see that fair and honest acknowledgement is given. Please advise

[2021-04-05 08:03] devZer0 commented on #308
i'm getting this error during pivpn installation

[2021-04-05 13:53] TinCanTech commented on #308
@devZer0 This would probably be something to report to [pivpn](https://github.com/pivpn/pivpn)

[2021-04-12 20:00] dredwolff commented on #343
I found a workaround, you can pass in the pki-dir option as a windows-style directory and things seem to work:
./easyrsa3/easyrsa --pki-dir="C:/Users/<username here>/IdeaProjects/easy-rsa/pki" build-server-full server nopass

[2021-04-14 09:39] pratick5 opened #440 "Signed Certificate holds decoded data rather than simply PEM format certificate."
I would like to appreciate the way the library is written and how it helps us.

What I have found is that in SSL certificate(CA-signed certificate) there is a lot of decoded data rather than simply a string that starts with "-----BEGIN CERTIFICATE-----" and ends with "-----END CERTIFICATE-----".
so there is any way to achieve this, if yes please let me know

**NOTE:** I am new to this, so correct

[2021-04-25 10:11] Zola-Github8 opened #441 "losonszkyzola@gmail.com"

[2021-04-25 12:08] ecrist commented on #441
🤷🏼‍♂️

[2021-04-25 12:08] #441 closed

[2021-05-01 17:57] DmitriyBobrovskiy commented on #343
Thank you @dredwolff it works, I had the same problem with `sign-req` but your solution helps!

[2021-05-02 20:32] Prouflon commented on #429
The [easyrsa script](https://github.com/OpenVPN/easy-rsa/blob/41a6bc6845f1e73641c8658f44dce67cd68fbb27/easyrsa3/easyrsa#L554) checks whether the file pointed to by the variable does **not** exist and only creates a safessl-easyrsa.cnf in that case.

Specifically, if you point the `EASYRSA_SSL_CONF` variable to the location of the config at `$EASYRSA/openssl-easyrsa.cnf` this:
[`if [ ! -f "$EASYRSA

[2021-05-02 20:37] TinCanTech commented on #429
@Prouflon If you have analysed the problem and can see a solution then, perhaps, you could provide a patch ?

[2021-05-02 20:43] Prouflon commented on #429
The solution is to leave the advanced options alone, if you don't understand them.

Obviously the documentation in the vars.example is misleading to some (including me), but I wouldn't know how to rewrite it, because I don't know what that variable is actually for.

[2021-05-02 20:50] TinCanTech commented on #429
If I change `vars`:
`set_var EASYRSA_SSL_CONF	"$EASYRSA/openssl-easyrsa.cnf"`
to a valid setting and then `easyrsa` borks, who is at fault ?

Am i at fault for setting an alternate but yet valid setting or is `easyrsa` at fault for allowing me to change something which the script cannot handle correctly ?

[2021-05-02 21:11] TinCanTech commented on #429
**For The Record**:

There are numerous circumstances where `EASYRSA_SSL_CONF` simply does not work as intended.
The example above by @Prouflon is only one in a variety of others..

[2021-05-03 08:07] Prouflon commented on #429
I just found out, that the default value in the easyrsa script is actually different.
So fixing the vars.example to reflect that should protect future users from uncommenting this wrong default value.

[2021-05-20 13:46] dorianfm commented on #364
I can confirm this issue still exists in Easy RSA v3.0.8 with OpenSSL

Having mirated my configuration from Easy RSA 2 to v3.0.8 using

[code]
I started encountering this error.

example output:

[code]

or

[code]

Looking at ```./pki/openssl-easyrsa.cnf``` line 91:

[code]

then looking in vars I had
[code]

Removing the & in ```./vars``` fixed the issue and has allowed me to ```update-db``` and

[2021-05-26 09:31] faxm0dem opened #445 "Subject Alternative Names are not in signed cert using Openssl 1.1.1"
Something changed in OpenSSL (I haven't bisected yet) between 1.0.2k and 1.1.1g that strips the SANs in the signed certificate.
I tracked this down to the `display_san()` function. For some reason the `openssl req` command emits an empty output and the `$san` variable is empty. When running the exact same command interactively, it works. I suspect there's something happening behind the scenes with

[2021-05-26 10:50] faxm0dem commented on #445
I narrowed this down between 1.1.1d and 1.1.1e

[2021-05-26 12:59] faxm0dem commented on #445
This commit broke it for me: https://github.com/openssl/openssl/commit/5fe82100857ff194e5728bafe9af1a27c9d5475c

[2021-05-26 13:15] faxm0dem commented on #445
It turns out this problem disappears when using the provided `openssl-easyrsa.cnf`.
I actually never used that before. Now I know I should have :-D

[2021-05-26 13:15] #445 closed

[2021-06-09 10:43] bd46 opened #446 "Remove pki/CN.creds on revoke [patch]"
When easyRSA script creates certificate with "inline" option, it creates pki/CN.creds file, but does not delete it on revoke. I see no reasons to keep this file, so here is patch (against v3.0.8) for its removal.

[code]

[2021-06-15 13:56] gbrdead opened #447 "SANs are not copied from the CSR for client certificates"
Client certificates may also have subject alternative names, e.g. e-mail addresses. They should be copied to the certificate. Here is a proposal for the fix:

[code]

[2021-06-24 19:06] gatos-cc commented on #429
So what is the work around here?  I had a working ovpn setup, allowed the server to apply security patches, and now I get this trying to generate new profiles:
[code]

I have a completely default vars file with EASYRSA_SSL_CONF commented out:
[code]

But I'm not clear at all how to get rid of that error.  `openssl-easyrsa.cnf` does exist, but not `safessl-easyrsa.cnf` - I'm not clear if they're ev

[2021-06-25 17:27] ptrdlbrg commented on #440
I noticed this too and I came here to see if it had been reported before.

The fix for this is to edit the easyrsa script and add a `-notext` command line argument into the command which generates the certificate. On the current master branch it is this command:
https://github.com/OpenVPN/easy-rsa/blob/243bb708b02897c563631ce62633d90ae80c82ff/easyrsa3/easyrsa#L945-L946

One way to make the necessa

[2021-06-25 18:42] gajjarvini commented on #440
Hi @ptrdlbrg

Thank you for the solution!

[2021-06-26 12:35] TinCanTech commented on #364
FTR: No matter how you try to use `&`, it does **not** work in Windows.

[2021-06-26 15:13] TinCanTech opened #449 "Windows does not support 'ed' algorithm due to old openssl.exe"
**Windows** - Current version of `openssl.exe` - `OpenSSL 1.1.0j  20 Nov 2018`

**easyrsa** - Specific checks for curves: `ED25519` + `ED448` in `verify_curve_ed()`
In `vars` specify:
[code]
Add check for `X25519` to `verify_curve_ed()` passes verify but does not successfully build CA.

Output `openssl list -public-key-algorithms`:
[code]

**Linux** - Current version of `openssl` - `OpenSSL 1.1.1f

[2021-06-28 09:29] Prouflon commented on #429
The `safessl-easyrsa.cnf` is created from the `openssl-easyrsa.cnf`, but the bash variables are replaced with their actual values.

You could try to create the file by copying and filling them in. If you know `sed`, you can have a look at [this command](https://github.com/OpenVPN/easy-rsa/blob/41a6bc6845f1e73641c8658f44dce67cd68fbb27/easyrsa3/easyrsa#L382), where the easyrsa script generates the `

[2021-06-30 02:36] tpa10 commented on #111
Having the exact same issue, using 3.0.8, installed via yum/rpm from the CentOS EPEL repo.
Used the command line to override keysize, algorithm, and digest.

[2021-07-04 09:44] coldBug opened #451 "openssl binary assumed in path - security issue"
Hi,
maybe not the most critical problem, but: "openssl" is assumed to be on the env PATH and accessed with relative PATH location.

This makes it susceptible for "path injection" attacks if run with SUID flags or other means to run it as a normal user with higher privileges. It should always be preferred (default) to run external binaries with absolute path for security means.

[2021-07-12 02:35] jasonhe54 opened #452 "How do I change the validity days of a certificate? It's set by default to 1080 days for codesigning certificates. I'd like to change it to something like 1 or 2 years at most before needing to resign"
Basically the title of the post

[2021-08-15 16:19] TinCanTech opened #453 "Minor bug in upgrade process - Spurious `echo`"
https://github.com/OpenVPN/easy-rsa/blob/243bb708b02897c563631ce62633d90ae80c82ff/easyrsa3/easyrsa#L2231
Spurious `echo`

[2021-08-18 18:44] oistri commented on #412
i use OpenVPN-2.5.3-I601-amd64.msi
i was getting error: "Extra arguments given." when OpenVPN was installed to C:/Program Files/OpenVPN
i re-installed to C:\openvpn\ and was getting error: "Error reading password from BIO"

And Your line "export EASYRSA_TEMP_DIR="/temp"" helped!
Thank you!

[2021-08-20 14:19] pmichali opened #454 "Asking for passphrase when not expected during build-ca"
Using EasyRSA 3.0.8 and openssl 3.0.0-beta3-dev on ubuntu 20.04 system

I'm seeing two problems. When I doing build-ca, it asks for CA passphrase (expected), but then for PEM passphrase (unexpected). It "seems" like openssl is not correctly reading the passphrase on cert request via -passin file:/path/to/file (maybe a openssl issue?)

`openssl genrsa -out /etc/easy-rsa-3.0.8/easyrsa3/pki/easy-rsa-

[2021-08-26 10:21] tik806 opened #456 "In gen-req --batch option generates request with "subject=CN = ChangeMe""
To reproduce:
`easyrsa --batch gen-req CertName nopass`
and look at it:
`openssl req -in CertName.req -noout -subject`

But
`easyrsa gen-req CertName nopass batch`
works fine

[2021-09-04 02:02] saissemet commented on #190
Hello @viharm, did that really work? Could that depend on the version in use?

I tried to follow your steps one by one. Here's what I did:

**[Root CA]
./easy-rsa init-pki
./easy-rsa build-ca nopass**

**[Intermediate CA]
./easy-rsa initi-pki
./easy-rsa build-ca nopass subca**

At first, I tried to import the **ca.req** using scp, but then I realized that easy-rsa comes with an "import-req" option

[2021-09-05 13:01] MohammedNoureldin commented on #73
This is how this works these days:

[code]

[2021-09-23 12:57] anhoxa opened #457 "Option to specify --hours=# instead of --days"
For the purpose of software development testing with respect to how it behaves when a certificate expires, it would be useful to be able to  specify the validity period in time units less than a day, otherwise testing edge cases takes long time, and clock shifting gets messy.

[2021-09-24 03:04] trasherdk commented on #457
What prevents you from using a already expired certificate for this test?

[2021-09-24 12:54] anhoxa commented on #457
Want to be able to ensure connectivity before expiry followed by behaviour after expiry.  The setup on embedded devices can be tricky and time consuming.

[2021-09-26 04:01] trasherdk commented on #457
How about
[code]

[2021-09-27 10:00] Kanzhar opened #458 "openvpn"
Hi guys! I need help with setup OpenVPN server on windows 10.
EasyRSA Shell
# ./easyrsa build-ca
./easyrsa[2577]: openssl: not found

Easy-RSA error:

Missing or invalid OpenSSL
Expected to find openssl command at: openssl

[2021-09-27 10:15] #458 closed

[2021-10-03 04:55] Amiraliinz opened #459 "a"
za

[2021-10-14 11:34] Deantwo opened #461 "Gen-Req: Setting commonname using batch"
I was having trouble generating a certificate request using the `--batch` option. The CN (commonname) of the certificate didn't
[code]
Will create a certificate with the default CN specified in the `vars` file, which by default is "ChangeMe".
This is of course not what I wanted, I wanted the CN to be "MyCert" like the name of the resulting file.

The solution I found by looking in the source code

[2021-10-14 11:42] Deantwo commented on #461
Duplicate of #456

[2021-10-14 11:46] Deantwo commented on #435
Yes. The "pass:" is not included so that you can use the same option to specify an environment variable with "env:" or a file with "file:" as well. If "pass:" was pre-defined, it would be impossible to use those other options.

See: https://www.openssl.org/docs/manmaster/man1/openssl-passphrase-options.html

[2021-10-14 18:02] arthur4ires commented on #435
Okay, despite the delay, thank you very much for the clarification!

[2021-11-03 11:48] seblu opened #464 "Renew drop subject fields from original certificate"
Certificate subjects with extra fields (e.g OU) are dropped from the renewed certificate.

[code]

[2021-11-03 12:06] TinCanTech commented on #464
Check your `vars` file:
[code]

[2021-11-03 16:31] seblu commented on #464
I'm using the **org** mode.

[code]

[2021-11-03 22:07] #438 closed

[2021-11-03 22:11] TinCanTech commented on #464
Probably related: https://github.com/OpenVPN/easy-rsa/issues/447

[2021-11-05 15:57] dreua commented on #60
Unrelated information for people landing here searching for why their created certificates lack subject fields:
Just edit your `vars` to include `set_var EASYRSA_DN	"org"`

[2021-11-08 17:59] baquilla commented on #364
The ampersand character is special for sed. Translations to generate safe config file (makesafeconf) for LibreSSL, which is indeed not required for OpenSSL, are messing things.

For those who are using OpenSSL and need to go ahead just replace the variable to use the original config.

[code]

For a complete solution "&" must be escaped this way ${EASYRSA_PKI//&/\\&} or any other. That's supported

[2021-11-08 18:13] TinCanTech commented on #364
Neither of these apply to master and you have not included your version.

[2021-11-08 18:28] TinCanTech commented on #364
`easyrsa3-master-ampersand.diff`
[code]

[2021-11-08 21:52] baquilla commented on #364
Sorry, that was not pretending to be a patch, I just wanted to share my tests and help following up instead of fixing only for myself. I took a bit more time to review. It was running just with Bash. Bellow patch also works with Dash, it looks more portable.

`easyrsa3-master-ampersand.diff` Barely tested with Bash and Dash.

[code]

[2021-11-08 22:16] TinCanTech commented on #364
I'll test it soon. Thanks.

[2021-11-10 02:59] u0m3 commented on #456
You can work around that with something like:
[code]

Also +1 for the
[code]
version of the command. I had no idea it of it's existence.

[2021-11-13 14:19] TinCanTech commented on #364
This is the result:
[code]

[2021-11-13 14:22] TinCanTech commented on #364
`shellcheck` analysis:
[code]

[2021-11-13 14:52] tlsalex opened #465 "try to understand the batch mode"
I want to specify Organizational DN options in command line (like below code)when I create CA/normal certification, but I found it doesn't work as I can't see the DN information when I check issued CA certification detail.

I don't want to specify DN option in "var" file , what's the correct way to do that in command line , we use the same way to do that no mater we create CA or normal certificati

[2021-11-13 15:26] TinCanTech commented on #465
Are you looking for `./easyrsa help options` ?

[2021-11-14 00:38] tlsalex commented on #465
I have checked ./easyrsa help options, just don't know how to use them

[2021-11-14 00:42] TinCanTech commented on #465
You appear to need:
[code]

[2021-11-14 01:45] tlsalex commented on #465
Thanks @TinCanTech , I have also checked ./easyrsa help altname, and you are correct, I do want to get a SAN certificate, but I also want to set DN options like country code, city name when I create a certificate, I don't see some useful examples in Read.me file, I hope someone can give me some examples on that

[2021-11-14 01:57] TinCanTech commented on #465
My crystal ball is showing me:
[code]
I believe you need `org`

[2021-11-14 04:47] tlsalex commented on #465
@TinCanTech  thanks , it does work with --dn-mode , but for the --subject-alt-name part ,I still can't make it work with below code, I also tried to keep --subject-alt-name only (remove --req-cn), but the CN will become "ChangeMe" in the created certification, do I miss something again?
`./easyrsa --batch --days=3650 --dn-mode=org --req-cn=vpn.alex.org --subject-alt-name=DNS:vpn.alex.org,DNS:prima

[2021-11-14 14:00] TinCanTech commented on #465
A CA does not have SAN field.

[2021-11-15 15:06] TinCanTech opened #467 "Windows 11 does not evaluate the current working directory $EASYRSA correctly"
When using Windows 11, the use of `readlink` here:
https://github.com/OpenVPN/easy-rsa/blob/243bb708b02897c563631ce62633d90ae80c82ff/easyrsa3/easyrsa#L1669
`readlink` succeeds and returns a value such as `/cygdrive/c/PROGRA~1/OpenVPN/easy-rsa`

Under Windows, this `readlink` is expected to fail and not over-write the previous value for `prog_file`.

As a work-around, Windows 11 users can safely co

[2021-11-15 20:55] TinCanTech commented on #467
I am happy to help test with anybody using Windows 11 and Easy-RSA3.

[2021-11-16 01:09] TinCanTech commented on #467
[code]

[2021-11-19 10:47] schopin-pro commented on #454
I can confirm that the bug exists when using OpenSSL 3.0. It's a regression that seems to have been fixed in the mainline https://github.com/openssl/openssl/commit/6b38d7dc1bccc708279ca5091ebc28cd4bdf225d

[2021-11-22 19:54] grizzler0031 commented on #111
Confirmed. The vars file is ignored unless --vars=<file spec> is used.
Version 3.0.8 on Debian Testing.

[2021-11-26 20:43] g0lgs opened #469 "Unable to determine version"
Earlier today I was trying to fathom out which version I had and discovered that the version from the Ubuntu 20.04 repo is not current (I failed to ascertain what version it was).

Having removed the Ubuntu version and cloned the latest from github I find the it still does not given me the version information.

./easyrsa3/easyrsa --version
./easyrsa3/easyrsa: 2380: version: not found
EasyRSA Versi

[2021-11-28 15:15] chillriver opened #470 "2-way-tls"
Hello,

I have a simple question. It is possible to use easy-rsa to generate and manage certs for 2-way-tls - clientauthentification with webserver?

https://linuxconfig.org/apache-web-server-ssl-authentication

Thanks for answer.

[2021-11-28 15:25] TinCanTech commented on #470
It looks to be fairly standard X509, so, Easy-RSA can _probably_ generate compatible certificates.

[2021-11-29 08:38] chillriver commented on #470
yes I can confirm your answer. Yesterday I find out the solution with easy-rsa and can use pki to manage 2-way-ssl.

Thanks for your feedback.

[2021-11-29 08:38] #470 closed

[2021-12-02 22:34] Baadh opened #471 "Baadh good help"
Thnks

[2021-12-14 05:17] rsun-thoughtworks commented on #284
Works for me.

[2021-12-21 09:23] GiannisStasinakis82 opened #472 "Define Distribution point for CRLs"
Hello ! Is there a way to define a CDP instead of sending the CRL to all entities of my chain of trust ? I am using the latest version of EasyRsa on Ubuntu 20.04.
Thanks in advance

[2021-12-21 19:29] noah-seltzer commented on #93
@motorollo I had the same problem on windows, copying the `/x509-types` folder into the `pki` folder made it work for me

[2022-01-10 03:00] linxingyang opened #473 "index.txt too long lead to client.crt not created"
Hi.
I'm using easyrsa to create client crt and key in my shell script. but recently i found that the client.crt is not create correctly while the client.key is created.
finally i got the point, the `easyrsa3/pki/index.txt` file has more than 70K+ lines,  and the client.crt is create normally when i clean this file.

for now i clean this file in my shell script when it has 10K lines.
but i think th

[2022-01-10 14:42] TinCanTech commented on #473
What do you mean by "clean the file" ?

Why do you think the file is too large ?

[2022-01-11 06:26] linxingyang commented on #473
Over 76K lines and 5.8M(not very large), in this case create client.crt fail.
[code]

clean the file means clean the index.txt file.
[code]

[2022-01-15 17:20] TinCanTech commented on #473
What is the output from `easyrsa` and `openssl` ?

[2022-01-22 12:44] clandestinenetworks commented on #265
sux

[2022-01-27 23:13] vazhnov opened #474 "easyrsa upgrade pki errors"
Hello!
Thank you for great project!

I tried to migrate my old project, created with easy-rsa v2, into new format easy-rsa v3, with a command `./easyrsa upgrade pki`.

I use Devuan GNU/Linux 4 (chimaera) (based on Debian 11 Bullseye), package `easy-rsa` v3.0.8-1.

First, I created empty directory: `make-cadir test1`.

Second, I copied whole content of old directory into new one. File `vars` was re

[2022-01-28 22:39] TinCanTech commented on #474
Where do you have `./easyrsa` located ?

[2022-01-28 22:58] vazhnov commented on #474
Inside `test1` directory, which was created by `make-cadir test1` (by fresh `easy-rsa`).

[2022-01-28 23:39] TinCanTech commented on #474
1. What is `make-cadir` ?
2. Where do you have the script `./easyrsa` located ?

[2022-01-29 00:32] vazhnov commented on #474
`/usr/bin/make-cadir` is a script, which is included into Debian/Devuan/Ubuntu `easy-rsa` packages. I didn't think it is not an original part of `easy-rsa` project. The script is pretty simple:

[code]

Command `make-cadir test1` creates that structure:
[code]

`easyrsa` script is located in `/usr/share/easy-rsa/easyrsa`.

[2022-01-29 01:49] TinCanTech commented on #474
In order to use the **upgrade** facility, you require an **Easy-RSA version 2** generated PKI. You do not need to initialise a new PKI.

[2022-01-29 12:58] vazhnov commented on #474
Ok, I think I understand the idea. I shouldn't use `make-cadir` to prepare for upgrade.

Steps to confirm that all works fine:
* I created empty directory with `mkdir -pv test1`,
* `cd test1`
* `rsync -a ~/vpn-keys/my-old-keys-v2/ .`
* `cp -pv /usr/share/easy-rsa/easyrsa .`
* `cp -pv /usr/share/easy-rsa/openssl-easyrsa.cnf .`
* `cp -pv /usr/share/easy-rsa/vars.example .`

Now the structure is:
[co

[2022-01-29 18:45] vazhnov commented on #474
Created a new chapter: https://community.openvpn.net/openvpn/wiki/easyrsa-upgrade#ersa-up23-debian

[2022-01-29 19:08] vazhnov commented on #474
But anyway, even now, when I know how `upgrade` should work, I think these changes in #475 are good.

I downloaded https://github.com/OpenVPN/easy-rsa/releases/download/v3.0.8/EasyRSA-3.0.8.tgz , unpacked it, and I see `openssl-easyrsa.cnf` and `vars.example` are in the same directory, as script `easyrsa`. So, it is better to create anything in current directory `$PWD` (but not where the script is

[2022-01-30 01:29] TinCanTech commented on #474
Regarding your [patch](https://github.com/OpenVPN/easy-rsa/pull/475), personally, Nack. Changing `$EASYRSA` is too intrusive.

Your wiki update is ok.

[2022-01-30 01:51] vazhnov commented on #474
@TinCanTech, thank you for a help!

[2022-01-30 01:51] #474 closed

[2022-01-30 02:12] TinCanTech commented on #474
@vazhnov This would be the function to take a look at:
https://github.com/OpenVPN/easy-rsa/blob/243bb708b02897c563631ce62633d90ae80c82ff/easyrsa3/easyrsa#L1661

That is where `$prog_dir` and `$EASYRSA` are evaluated.

[2022-02-01 09:28] Du-St commented on #472
@GiannisStasinakis82

Hi,

I solved this need using the file "x509-types/COMMON" containing this line:

crlDistributionPoints   = URI:<path to CRL file, e.g. http://host/file.crl>

[2022-02-01 11:37] #472 closed

[2022-02-02 18:15] TinCanTech opened #476 "OpenSSL 3.x - build-ca asks for password twice in RSA mode"
Using OpenSSL Version 3.x and EasyRSA-3 in RSA mode.

Building a CA with a password causes `easyrsa` **and** `openssl` to prompt for password field.

This is due to, `easyrsa` uses `openssl genrsa` (`genrsa` is deprecated [1]) and the command `easyrsa` generates does not satisfy `openssl` requirements to pass a password for generating the key.

Instead, `openssl` have moved private key generation

[2022-02-03 01:56] TinCanTech commented on #476
Tip of the iceberg ...

[2022-02-03 01:56] #476 closed

[2022-02-04 07:55] Sjk-Lacoste opened #477 "Revoke Certtificates"
There is currently no way the revoking of users can be automated as it requires user interaction. I discovered this recently when we wanted to automate this process of revoking user and wanted to add a flag option on the command to auto-confirm on the prompt where we have to type yes.

The example should be as follows:
[code]
or
[code]

May this feature please be added.

[2022-02-04 15:29] TinCanTech commented on #477
The option you require can be found by reading `help options`.

[2022-02-07 14:43] hiddeneyes02 commented on #343
@DmitriyBobrovskiy Can you please tell me how did you resolve that using `sign-req` ?

[2022-02-09 08:22] DmitriyBobrovskiy commented on #343
I used the solution provided by @abstractBoyd (probably he was a @dredwolff before):
[code]

[2022-02-12 23:49] vinifr commented on #145
Still same problem in 3.0.4 or 3.0.8 under Debian 10. In my case, it looks like the commonName is corrupted.

_./easyrsa sign-req server server

Note: using Easy-RSA configuration from: ./vars

Request subject, to be signed as a server certificate for 3650 days:

subject=
    commonName                = \0D_

I was expecting commonName = server. Request file is into EasyRSA-3.0.4/pki/reqs/

[2022-02-14 17:57] Tokarak opened #478 "Use of mktemp is not POSIX compliant – script failure."
Running EasyRSA in a freshly unzipped 3.0.8 distribution on a linux system. I checked, and mktemp is no longer posix compliant. If it means anything, I am running on Asuswrt-merlin – this might just turn out to be an issue specific to that.

Even though it is not technically POSIX compliant, it is still a highly portable command.

<details>
<summary>Test results</summary>
<br>

`./easyrsa` :

[cod

[2022-02-18 03:34] dariosusman commented on #431
Even after changing that, which you're correct, it won't sort it out.  The problem is how easyrsa detects itself running from.

On debian, if you're running it as a symlink, the working directory will be /usr/share/easy-rsa, instead of whatever path you're running it from. And it doesn't find the vars file in there. So, in order to avoid throwing an error, it generates a configuration file of its

[2022-02-18 15:42] chckfrmn opened #479 "Easy-RSA error: Failed create CA private key - SSL FIPS Mode"
Using AlamaLinux 8.5 (RedHat clone) installed in FIPS mode, EasyRSA 3.0.8

     [cfreeman@localhost easy-rsa]$ **fips-mode-setup --check FIPS mode is enabled.**
     [cfreeman@localhost easy-rsa] Linux localhost.localdomain 4.18.0-348.12.2.el8_5.x86_64 #1 SMP Wed Jan 19 14:35:04 EST 2022 x86_64 x86_64 x86_64 GNU/Linux

Following instructions at (https://vitux.com/how-to-install-openvpn-on-almalinu

[2022-02-18 15:51] TinCanTech commented on #479
I guess Easy-RSA-3, with your settings, is not FIPS compatible ..

[2022-02-18 22:03] dariosusman commented on #431
I think I may have resolved it. I'm posting the fix now.

[2022-02-22 04:04] Gilgamesh0028 opened #482 "Easy-RSA failed to create temporary file"
![image](https://user-images.githubusercontent.com/98428877/155061182-ddfaa9bb-a538-4838-ab16-15c180af7ed3.png)

It fails on install, using latest version of everything, and up to date windows install.

[2022-02-22 04:12] TinCanTech commented on #482
You probably need to be using an administrator account.

[2022-02-22 04:12] Gilgamesh0028 commented on #482
EDIT: It turns out its a permissions error as C:\Program Files\OpenVPN\ is unable to be edited unless you grant 'user' the permissions to modify and edit the folder

@TinCanTech  yeah, I tried using the Administrator account, this was the only way.

[2022-02-22 04:24] TinCanTech commented on #482
The error with the temporary folder does need to be addressed.

Because you are running windows, I invite you to help us test some changes that are being made.

[2022-02-22 05:30] Gilgamesh0028 commented on #482
Sure, I'd be glad to help test this out. BTW this is also happening:
![image](https://user-images.githubusercontent.com/98428877/155069014-13137ba5-3809-4dd4-a8ce-ef9a9eb4679b.png)

[2022-02-22 05:31] Gilgamesh0028 opened #483 "Failed to create Private CA Key"
![image](https://user-images.githubusercontent.com/98428877/155069048-1565d80b-6190-4a5a-9279-470ac74818bb.png)

@TinCanTech figured I'd best make a new issue for this error now (lol)

[2022-02-22 13:02] TinCanTech commented on #483
I have a maintained version of `easyrsa` [here](https://github.com/TinCanTech/easy-rsa).

You can download https://github.com/TinCanTech/easy-rsa/blob/master/easyrsa3/easyrsa to your current Easy-RSA folder, over-write the old version (You can always download the original from github).

And try testing that.

Please leave feedback in my repo and I'll take a look at all the issues you encounter.

T

[2022-02-22 18:20] mmigliari opened #484 "Use external / remote database"
It would be great if easy-rsa could have the option of storing keys, requests, certificates and everything needed to control the CA, revoking certs and so forth in an external, remote database, such as Postgres or MySQL

You would configure the database credentials and store them in a dot file or suchlike, and the entire easy-rsa service would query these databases.

This would allow for more flex

[2022-02-22 18:23] Gilgamesh0028 commented on #483
yep, latest branch, am still getting the error.

[image: image.png]

couldn't find the issue submission button on your branch, so, email it is!

On Tue, Feb 22, 2022 at 6:02 AM TinCanTech ***@***.***> wrote:

[2022-02-22 18:34] TinCanTech commented on #483
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA256

HI,

sorry, i forgot to enable issues, now enabled:

https://github.com/TinCanTech/easy-rsa/issues

Sent with ProtonMail Secure Email.

------- Original Message -------

On Tuesday, February 22nd, 2022 at 18:23, Gilgamesh0028 ***@***.***> wrote:

-----BEGIN PGP SIGNATURE-----
Version: ProtonMail

wsBzBAEBCAAGBQJiFSyQACEJEE+XnPZrkLidFiEECbw9RGejjXJ5x

[2022-03-15 02:52] TinCanTech commented on #484
It's a nice idea, have you started any coding ?

But for the record: _easy-rsa - **Simple** shell based CA utility_

It is very unlikely your idea will ever take shape, unless you start it.

I leave this for you to decide.

[2022-03-15 03:01] TinCanTech commented on #479
It would be interesting to understand which **digest** FIPS finds to be unacceptable .. do you have any ideas ? Perhaps an old MD5 hash ?

[2022-03-15 03:08] TinCanTech commented on #478
Personally, I would prefer Easy-RSA to offer a `mktemp` and a `non-mktemp` version .. or at least to determine if `mktemp` is available and work without it, when necessary.  Discussion and PRs on the subject are certainly welcome.

[2022-03-15 03:10] TinCanTech commented on #477
Please see `--batch` in `./easyrsa help options`

[2022-03-15 03:10] #477 closed

[2022-03-15 03:12] TinCanTech commented on #473
If you have 76 thousand odd clients then you should know how to use OpenSSL.

[2022-03-15 03:12] #473 closed

[2022-03-15 03:12] #471 closed

[2022-03-15 03:17] #465 closed

[2022-03-15 03:25] TinCanTech commented on #457
It would be interesting to see a one minute valid certificate, if anybody wants to write the necessary code ..

[2022-03-15 03:31] TinCanTech commented on #454
For the record: EasyRSA does **not** support OpenSSL version 3.0.0

EasyRSA will support OpenSSL 3.0.1+

[2022-03-15 03:31] #454 closed

[2022-03-15 03:33] TinCanTech commented on #452
Please see: `./easyrsa help options` and your `vars` file.

[2022-03-15 03:33] #452 closed

[2022-03-15 03:35] TinCanTech commented on #451
The `vars` file allows for users to specify the **exact** location of `openssl`.

[2022-03-15 03:37] TinCanTech commented on #449
EasyRSA should not distribute openssl binaries..

[2022-03-15 03:42] TinCanTech commented on #440
What is the reason to omit this data ?

[2022-03-15 03:46] TinCanTech commented on #436
Reading and writing a CRL can be improved.

If you want to write something like `./easyrsa status` then listing certificates could also be possible.

[2022-03-15 03:52] TinCanTech commented on #434
Sorry .. this is completely unsuitable for Easy-RSA.

There is a well told mantra: Do one job and do it right.

[2022-03-15 03:52] #434 closed

[2022-03-15 04:04] TinCanTech commented on #407
Thanks!

[2022-03-15 04:10] TinCanTech commented on #390
Will have to investigate this, thanks.

[2022-03-15 04:11] TinCanTech commented on #388
What did you _figure out_ ?

[2022-03-15 04:15] TinCanTech commented on #357
`EASYRSA_BATCH=1` not `yes` .. I suspect this is a problem of inadequate variable quoting in the source.

[2022-03-15 04:22] TinCanTech opened #488 "Document Edwards Curve usage"
`--use-algo=ALG  : crypto alg to use: choose rsa (default) or ec` **add** `ed`

[2022-03-15 04:23] TinCanTech commented on #350
The initial problem is resolved, Edwards Curves are supported.

Documentation is missing. See #488

[2022-03-15 04:23] #350 closed

[2022-03-15 04:29] TinCanTech commented on #326
if `easyrsa` is in your `PATH` and you use it thus:
[code]
does it not work ?

Possibly, make a copy of `vars` in your `$EASYRSA_PKI`.

[2022-03-15 05:09] TinCanTech commented on #180
In fact, a `sub-ca` is created without the certificate text. Only after being signed is the test prepended.

[2022-03-15 06:36] trasherdk commented on #478
`echo "/tmp/tmp.easyrsa.$(date +%s)"` :smile:

[2022-03-15 15:27] Neustradamus commented on #407
@TinCanTech: It is not solved...

Currently:
- 14-Dec-2021: OpenSSL 3.0.1 is now available, including bug and security fixes
- 14-Dec-2021: OpenSSL 1.1.1m is now available, including bug fixes

[2022-03-15 15:32] TinCanTech commented on #407
EasyRSA has made no commitment (at this time) to provide support for OpenSSL 3.0.1 - That will come in time.

EasyRSA ought not be distributing OpenSSL binaries at all - So this is currently unclear.

[2022-03-15 15:35] TinCanTech opened #489 "Should Easy-RSA be distributing OpenSSL binaries for Windows ?"
What reason is there for this to be necessary ?

[2022-03-15 15:38] TinCanTech commented on #407
This issue can be followed here: #489

[2022-03-15 15:48] Neustradamus commented on #407
@TinCanTech: Can you remove all OpenSSL binaries because there are?
- https://github.com/OpenVPN/easy-rsa/tree/master/distro/windows

[2022-03-15 16:24] TinCanTech commented on #47
This appears to be fixed. https://github.com/OpenVPN/easy-rsa/commit/7f2936caf9511ecbf614613f9fdb9e73b6454789

[2022-03-15 20:22] ecrist commented on #489
Yes, we ship OpenSSL on Windows that we know to be compatible with EasyRSA - Finding Windows builds of OpenSSL is difficult.

This is something we will continue to do.

[2022-03-15 20:22] #489 closed

[2022-03-15 20:55] ecrist commented on #407
The ticket here just states versions of OpenSSL. What is the desired goal?

An update to 1.1.1m our support for 3.x?

[2022-03-15 21:21] TinCanTech commented on #407
My reason to re-open this is because #489 is resolved but this one is left hanging .. a decision would be appreciated here because I do not fully understand the reason EasyRSA distributes OpenSSL.  I leave that in your hands.

[2022-03-15 23:11] ecrist commented on #484
The real backend to EasyRSA is openssl or libressl - how those tools store the files and databases is entirely up to them.  EasyRSA is really just a shell wrapper for the command line tools - not a reimplementation of the underlying libraries.

[2022-03-15 23:13] #484 closed

[2022-03-15 23:21] ecrist commented on #478
Actually, a bit easier:

`tmpfile=/tmp/tmp.easyrsa.$(openssl rand -hex 3)`

I'll work on adding this to easyrsa tonight.  Pulling dependency of an external non-POSIX mktemp is a good move.

[2022-03-16 02:27] #478 closed

[2022-03-16 02:46] ecrist commented on #469
So this *does* work when released.  If you run this straight out of a cloned repo, you end up with some placeholder values that aren't defined until a release is built.

Check out built/Building.md for information.

Since there isn't a way to do commit triggers to update thing, we have to kind of do it manually.  This isn't a bug, just the way it works when you're not really building something.

[2022-03-16 02:46] #469 closed

[2022-03-16 02:49] ecrist commented on #469
[code]

[2022-03-16 02:52] ecrist commented on #469
On some systems you may be missing some python libraries, so you can skip the windows build.  Here it is on macOS:

[code]

[2022-03-16 02:58] ecrist commented on #461
Closing this for #456 duplicate.  Will handle there.

[2022-03-16 02:58] #461 closed

[2022-03-16 03:00] ecrist commented on #456
This is a bug for sure.  We'll try to address this in v3.0.9.

[2022-03-16 03:07] ecrist commented on #451
This isn't a real vulnerability.  You're ALWAYS subject to path injection in some manner.  Also, we cannot expect to know where to find the openssl binary on every system we use.

[2022-03-16 03:07] #451 closed

[2022-03-16 03:14] ecrist commented on #422
This isn't an EasyRSA issue, rather a user support issue.  Closing.

[2022-03-16 03:14] #422 closed

[2022-03-16 03:17] ecrist commented on #421
A revocaion is really only "valid" if it's present in the CRL file, and that CRL is referenced by consumers.  If nobody is looking at the CRL file, then there isn't any such thing as a revoked certificate.

You can set a timestamp for next CRL update, and then you're expected to update the CRL before then, even if the contents are the same.  If the CRL isn't updated, and a consumer references it,

[2022-03-16 03:17] #421 closed

[2022-03-16 05:06] Neustradamus commented on #407
Note: Announcement from yesterday:
- 15-Mar-2022: OpenSSL 3.0.2 is now available, including bug and security fixes
- 15-Mar-2022: OpenSSL 1.1.1n is now available, including bug and security fixes

[2022-03-16 13:17] g0lgs commented on #469
I eventually fathomed out that I had missed something and found the Building.md file.

It would have been easier if the README.md had something that made it clearer how it was supposed to be built / installed.

[2022-03-16 13:49] TinCanTech commented on #483
This turns out to be a combination of WSL and probably space-in-path issues.

[2022-03-16 13:50] TinCanTech opened #490 "Document usage for Windows Subsystem for Linux (WSL)"
Requires access to Windows 10/11 with WSL installed.

[2022-03-16 21:03] TinCanTech commented on #385
@Bengt-M `nsCertType` has been deprecated for the better part of two decades.

Do **not** use `nsCertType`.

If you must use it then do not use this ugly hack, simply edit your `vars` file.

[2022-03-16 22:12] #180 closed

[2022-03-16 22:27] TinCanTech commented on #41
Closed via https://github.com/OpenVPN/easy-rsa/commit/087d36a0d8b42eda48af596df5abf1c41065c279

[2022-03-16 22:27] #41 closed

[2022-03-17 00:31] #16 closed, assigned to QueuingKoala

[2022-03-17 00:40] TinCanTech commented on #440
Could this be transferred to **discussions** ?

[2022-03-17 00:53] #428 closed

[2022-03-17 03:59] TinCanTech commented on #464
EasyRSA should be responsible for complete renewal, otherwise, why bother ..

[2022-03-17 04:08] TinCanTech commented on #447
Looks simple .. but the signing agent needs authority.

The current approach is **nothing is copied by default** then the signing agent has the authority to put the SAN in place.

An improvement could be to add a `--copy-san` flag to `sign-req`, to save some time.

[2022-03-19 19:50] TinCanTech commented on #343
Please ignore the Mention above, that was an error.

[2022-03-19 19:57] TinCanTech commented on #343
This appears to be a Windowz problem.

Windowz is creating file names in the following format:
`/c/xampp/htdocs/easy-rsa/easyrsa3/pki/private/ca.key`

EasyRSA Windows tool-chain does not recognise that file-name.

[2022-03-19 20:27] TinCanTech commented on #343
The first requirement to solving this, is to establish the Windows environment that `easyrsa` is being run by.

For starters, the version of Windows.

**For the record**, `easyrsa` does **not work correctly** using `git-bash` for Windowz.

[2022-03-19 20:29] TinCanTech commented on #343
However, this `file-name` problem can be solved.

[2022-03-19 20:29] yanother1 opened #493 "Failed to generate request when vars specifies EASYRSA_ALGO ec"
My vars contains:
set_var EASYRSA_ALGO		ec
set_var EASYRSA_CURVE		secp384r1

After successful **./easyrsa init-pki nopass** and **./easyrsa build-ca nopass**

I issued a **./easyrsa build-server-full Server-01 nopass**
This results in
Easy-RSA error:
Failed to generate request

I commented out the EASYRSA_ALGO and EASYRSA_CURVE and everything works.

Just for grins I put the following in my vars,

[2022-03-19 20:34] TinCanTech commented on #493
Which version of `easyrsa`, please.

[2022-03-19 20:36] TinCanTech commented on #343
This is probably related to #467

[2022-03-19 20:38] TinCanTech commented on #483
See also #467

[2022-03-19 20:38] yanother1 commented on #493
Sorry! The latest Easy RSA 3 download contained in the Windows download **OpenVPN-2.5.6-I601-amd64**

[2022-03-19 20:50] TinCanTech commented on #375
That must be an `openssl` bug.

[2022-03-19 20:51] TinCanTech commented on #375
Which cannot be reproduced.

[2022-03-19 20:51] #375 closed

[2022-03-19 20:55] TinCanTech commented on #493
Which version of Windowz, please.

[2022-03-19 21:53] yanother1 commented on #493
Windows 10

[2022-03-19 21:59] TinCanTech commented on #493
Please post the terminal output from the failing command.

[2022-03-19 22:02] yanother1 commented on #493
Here is the terminal log, followed by my var file changes:
EasyRSA Shell
# ./easyrsa build-server-full Server-01 nopass

Note: using Easy-RSA configuration from: ./vars
Using SSL: C:/Program Files/OpenVPN/bin/openssl.exe OpenSSL 1.1.1n  15 Mar 2022
path = C:/Program Files/OpenVPN/easy-rsa - Hawk/pki/easy-rsa-11848.a01852/tmp.XXXXXX
lpPathBuffer = C:\Users\Ed\AppData\Local\Temp\
szTempName = C:\Use

[2022-03-19 22:35] TinCanTech commented on #493
This look like it is related to having `spaces` in your `path`.

Can you try copying Easy-RSA to a `path` without `spaces` ?

[2022-03-19 22:50] TinCanTech commented on #493
I believe this problem originates from `$crypto_opts`, which is unquoted.

Shellcheck 2086 is correct.

[2022-03-19 22:57] TinCanTech commented on #493
@yanother1 Thanks!

[2022-03-19 23:16] TinCanTech commented on #493
Fixing this is going to be an invasive change, I shall leave this `issue` open until a solution is agreed to.

[2022-03-19 23:24] TinCanTech commented on #493
**Please take note**:

This issue is fully understood, please refrain from adding unnecessary debug information. Such posts are subject to deletion.

Comments here and Pull Requests attempting to fix this issue are most welcome.

[2022-03-20 22:39] TinCanTech opened #494 "Track shellcheck specific changes"
`shellcheck` is widely accepted as a/the defacto shell script linter, EasyRSA would do well to _heed_ more warnings.

**Objectives**:
- Add exceptions for code which will **not change and does violate** `shellcheck` rules.
  Example: `cleanup()`
  `(stty echo 2>/dev/null) || { (set -o echo 2>/dev/null) && set -o echo; }`
  * `shellcheck` will never allow POSIX `set -o echo`, so ignore it.

- Chang

[2022-03-21 15:30] TinCanTech commented on #494
https://github.com/OpenVPN/easy-rsa/pull/492/commits/7b3fdee2245a908217b5c9ac981a09d03c5037c6 **Quote $out_key_tmp**

[2022-03-21 17:05] TinCanTech commented on #483
Please try again with current `git/master`

[2022-03-21 17:10] TinCanTech commented on #395
Please try again with current `git/master`

[2022-03-21 21:39] #47 closed

[2022-03-21 23:05] TinCanTech commented on #385
Feel free to re-open this, if there is a valid problem with EasyRSA.

[2022-03-21 23:05] #385 closed

[2022-03-21 23:10] TinCanTech commented on #380
EasyRSA `--keysize` does not apply to elliptic curves.

[2022-03-21 23:10] #380 closed

[2022-03-21 23:16] TinCanTech commented on #326
Linking: #348

[2022-03-21 23:24] #488 closed

[2022-03-22 00:05] TinCanTech commented on #493
Please test again with current `git/master`

[2022-03-22 00:47] TinCanTech commented on #345
**Needs thorough investigation**

[2022-03-22 00:50] yanother1 commented on #493
It might be a few days.  I'm not sure that I'm the right guy to test anyway.  I'm pulling my hair out just trying to get rsa working.  The latest issue was *finally *traced back to my client ovpn file not being properly parsed because I had Windows end-of-lines.  I changed the CR/LF to LF and now I can finally start to work on the real issues I have.

All my tests would have determined was whether

[2022-03-22 01:08] TinCanTech commented on #493
No problem, I just tested and it is still borken.

[2022-03-22 01:21] TinCanTech opened #497 "Add 'serverClient' '<type>' to EasyRSA-Readme.md"
Improve https://github.com/OpenVPN/easy-rsa/commit/b02f4231a5f0466ed936eceaefc815dd3fba7f0d

[2022-03-22 01:31] TinCanTech commented on #437
https://github.com/OpenVPN/easy-rsa/commit/8e7bac695df546189c447b66b1a95c1de36919cf

[2022-03-22 01:34] TinCanTech commented on #412
https://github.com/OpenVPN/easy-rsa/commit/8e7bac695df546189c447b66b1a95c1de36919cf

[2022-03-22 01:53] #431 closed

[2022-03-22 02:11] #497 closed

[2022-03-22 03:39] TinCanTech commented on #429
Trying to track this down, I think the problem is:
https://github.com/OpenVPN/easy-rsa/blob/381fda9a934ec32547d6548489482a5d1068df32/easyrsa3/easyrsa#L561

This needs improvement.

[2022-03-22 04:07] TinCanTech commented on #408
Please test again with current `git/master`

[2022-03-22 04:10] TinCanTech commented on #408
#412

[2022-03-22 04:22] TinCanTech commented on #407
https://github.com/OpenVPN/easy-rsa/commit/2155d2c95c60bbf1442b177aceb3556f5b3b66a7

OpenSSL 1.1.1m also fails on actions.

[2022-03-22 09:53] Prouflon commented on #429
Yeah, this block is very problematic.
If `openssl-easyrsa.cnf` is not in the directory `$EASYRSA`, the directory of the script, then nothing happens.
When installing easyrsa with a package manager, `$EASYRSA` is probably `/usr/bin`.
Either by symlink, or the easyrsa script is just there.
The `openssl-easyrsa.cnf`  usually lands in `/etc/easyrsa` or something similar.

This block can only work, if

[2022-03-22 15:22] TinCanTech commented on #407
EasyRSA built OpenSSL 1.1.1m does not work.

[2022-03-22 17:16] TinCanTech commented on #410
You misunderstand.

All certificates and keys generated by EasyRSA are in Private Email (PEM) format.

The certificate shows: `Signature Algorithm: sha256WithRSAEncryption` - **RSAEncryption**

OpenSSL decides which details to add to the `BEGIN`/`END` markers.

[2022-03-22 17:16] #410 closed

[2022-03-22 20:36] TinCanTech opened #499 "Running easyrsa from a symlink or PATH"
This issue is here to discuss how to simplify and resolve the problems related to:
- _where `easyrsa` is located_ **verses**
- _the current directory_, where `easyrsa` was called.

When running `easyrsa` from the same directory as the location of the PKI, things generally work.

When `easyrsa` is **not** located in `$PWD` then things go wrong:
- `$EASYRSA` is evaluated to the script directory not

[2022-03-22 21:19] TinCanTech commented on #493
I have just completed full unit tests with current `git/master`.

@yanother1 can you test again ? `:-)`

[2022-03-22 21:22] TinCanTech commented on #493
If you have OpenSSL `1.1.1m` from EasyRSA then that will immediately fail.

[2022-03-22 22:09] TinCanTech commented on #440
Could add something like:
[code]

[2022-03-22 22:17] TinCanTech commented on #437
Follow up set to #412 - Closing.

[2022-03-22 22:17] #437 closed

[2022-03-22 22:22] TinCanTech commented on #446
I suppose that, if it was created by EasyRSA then it can be destroyed.

[2022-03-22 22:25] TinCanTech commented on #435
This could almost be incorporated _as-is_ into the source as `README-passwords.md`

PRs welcome..

[2022-03-22 23:22] TinCanTech commented on #408
Follow up set to #412 - Closing.

[2022-03-22 23:22] #408 closed

[2022-03-22 23:25] #345 closed

[2022-03-22 23:30] TinCanTech commented on #259
Linking #499

[2022-03-22 23:31] #256 closed

[2022-03-22 23:40] TinCanTech commented on #447
#88

[2022-03-23 18:51] TinCanTech commented on #494
https://github.com/OpenVPN/easy-rsa/commit/8e7bac695df546189c447b66b1a95c1de36919cf **Quote $algo_opts**

[2022-03-24 00:02] TinCanTech commented on #417
Have you tested this yet ?

[2022-03-24 00:17] TinCanTech commented on #499
A special approach could be, to deliberately run `easyrsa` from within your chosen PKI.

[2022-03-24 00:34] TinCanTech commented on #275
Use `--batch` mode.

[2022-03-24 00:34] #275 closed

[2022-03-24 01:05] TinCanTech commented on #390
`import` CSR from where, you did just `1. Init CA:`

[2022-03-24 11:16] Prouflon commented on #429
It might be desirable to copy the default config into newly generated `$PKI` directories.
As before, try to copy from the `$EASYRSA` base directory, but additionally search common global configuration directories (if easyrsa was not cloned directly from github, but rather installed via package manager).

I implemented the changes I would make in #502
Do you think something like this is the way to

[2022-03-24 16:13] TinCanTech commented on #429
Linking: #499

[2022-03-24 16:59] TinCanTech commented on #499
I am tempted to include all the data files as `heredoc`s inside `easyrsa`.

[2022-03-24 18:24] TinCanTech commented on #499
### BUG:

If `easyrsa` is in your path and **not** in the current-directory then it will always fail to find `openssl-easyrsa.cnf`.  This is due to the current mess found in `vars_setup()`.

[2022-03-24 19:44] TinCanTech commented on #499
In order to de-couple the requirement for `easyrsa` to be in the same location as the data files, `EASYRSA` should be `$PWD`.

`prog_dir` can be used to look for data files, they _might_ be present ..

[2022-03-24 20:05] TinCanTech commented on #499
Because finding the data files is **critical** for `easyrsa`, the best location for them is: `/etc/easyrsa`

[2022-03-24 20:19] TinCanTech commented on #499
Because the `x509-types` and data-files are intended to be edited by users, they need to be per PKI.

It makes sense for `init-pki` to copy the `x509-types` and data-files **from** `/etc/easyrsa` **to** the newly created PKI.

And then present **help** to editing those files on completing `init--pki`.

[2022-03-25 10:38] Prouflon commented on #499
So to keep track, `init-pki` should copy the following files into a new PKI directory:
- `openssl-easyrsa.cnf`
- (`safessl-easyrsa.cnf` is automatically generated)
- `vars`
- `x509-types/`

It could be required for future versions of easyrsa that those files are in either `~/.config/easy-rsa` or `/etc/easy-rsa`.
As you mentioned they are critical.

[2022-03-25 11:24] imbajibabu commented on #343
./easyrsa --pki-dir="D:/easy-rsa/easyrsa3/pki" build-server-full server nopass

[2022-03-25 14:43] gelin commented on #375
Got the same issue. There was an occasional empty line (two new line chars) at the end of `index.txt`, it was edited manually before.

[2022-03-25 14:51] TinCanTech commented on #375
Reliably reproduce the problem and I'll take a look.

[2022-03-25 15:13] TinCanTech commented on #499
There is one question:
- Where should `vars` belong ?

It is customary to find `vars` in the parent folder to the PKI.

This can be copied/moved to the PKI folder but it MUST be very visible to users that behavior has (will) change.

[2022-03-25 15:14] mbeekman opened #504 "EasyRSA with LbreSSL (2.8.3) on MacOS"
The additions in line 455-461 do not work on the MacOS version of LibreSSL as it looks like you might be missing a "2" case.

https://github.com/OpenVPN/easy-rsa/commit/a0dbc346bd92088ee481f5488ac53a7537b32073

We get this error:
"Unsupported SSL library: 2"

for an openssl version:
"LibreSSL 2.8.3"

Which should be supported? no?

We changed our library to OpenSSL 3 and move forward ... could als

[2022-03-25 15:21] TinCanTech commented on #504
@mbeekman Thanks for your report.

This is a bug in `easyrsa`, LibreSSL is meant to be supported.

[2022-03-25 15:38] mbeekman commented on #504
Hello I can clone the repo, but which repo? did you check that in to main already? ... or did I miss the link

[2022-03-25 15:43] TinCanTech commented on #504
Ooops, sorry, I have not added the changes, so it would make no difference and would fail.

It is now a priority and will be patch later today.

FYI: The correct way to run the test is:
- `git clone https://github.com/OpenVPN/easy-rsa.git easy-rsa`
- `cd easy-rsa`
- `./op_test.sh -v`

[2022-03-25 16:15] TinCanTech commented on #504
@mbeekman Changes applied, you can test if you have time `;-)`

[2022-03-25 16:54] mbeekman commented on #504
hello ... we got farther ... but hit bump in 358-368
"Unsupported openssl version: 2"

looks like that needs a 2) case as well

[2022-03-25 17:37] mbeekman opened #506 "Unsupported openssl version: 2"
hello ... we got farther ... but hit bump in 358-368
"Unsupported openssl version: 2"

looks like that needs a 2) case as well

_Originally posted by @mbeekman in https://github.com/OpenVPN/easy-rsa/issues/504#issuecomment-1079216549_

[2022-03-25 17:46] TinCanTech commented on #504
@mbeekman Thank you very much for testing!

I'll send another patch to correct this bug, soon.

[2022-03-25 17:48] TinCanTech commented on #506
Thanks!

Follow up set to: #504

[2022-03-25 17:48] #506 closed

[2022-03-25 19:06] #504 closed

[2022-03-26 00:21] TinCanTech commented on #499
@Prouflon **any** feedback regarding https://github.com/OpenVPN/easy-rsa/pull/508 is most welcome.

[2022-03-27 18:06] TinCanTech commented on #131
Linking #499

[2022-03-27 18:17] TinCanTech commented on #122
@bogdanr Above, you use **EasyRSA version 2.**

You could have submitted your code as a PR.

[2022-03-27 18:24] TinCanTech commented on #105
Use `easyrsa upgrade ca`

If your version of `easyrsa` does not recognise `upgrade` then upgrade your copy of `easyrsa`.

[2022-03-27 18:24] #105 closed

[2022-03-27 18:54] TinCanTech opened #511 "[Solution] Warning: Failed to install required data-files to PKI"
**`easyrsa` warns with the error: `Failed to install required data-files to PKI`**

This is howto fix-it:
- Copy `openssl-easyrsa.cnf` **file** to your PKI folder.
- Copy `x509-types` **folder** to your PKI folder.

If you do not have these files then you do not have a working version of EasyRSA.

Downloads:
- **[`openssl-easyrsa.cnf` file](https://github.com/OpenVPN/easy-rsa/blob/master/easyrsa3/

[2022-03-28 13:56] TinCanTech opened #512 "Batch mode should not silence output"
Batch mode is to allow for automation but it should **not** suppress **warnings** and other output.

To silence `easyrsa` there should be another option `--silent`.

I believe most people would prefer:
- an unambiguous option to silence EasyRSA, other than prompts and fatal errors.
- an unambiguous option for batch mode.

Any wrapper script will simply need to use `--silent`.

Thoughts and feedbac

[2022-03-29 01:54] TinCanTech commented on #512
Both `warn()` and `notice()` are hideous..

[2022-03-29 02:24] TinCanTech commented on #512
This feels like an improvement:
[code]

[2022-03-29 14:23] TinCanTech commented on #493
Closed via https://github.com/OpenVPN/easy-rsa/commit/8e7bac695df546189c447b66b1a95c1de36919cf

@yanother1  Please re-open if the problem persists.

[2022-03-29 14:34] TinCanTech commented on #412
Closed via https://github.com/OpenVPN/easy-rsa/commit/73e674a5eaaa697180e6e0f9d7597695fc3d2707

And other patches for 'spaces in path'.

[2022-03-29 14:34] #412 closed

[2022-03-29 14:35] TinCanTech commented on #429
Please try again with `git/master`.

[2022-03-29 14:43] TinCanTech commented on #348
`easyrsa` can now be successfully used from PATH and all data-files will be placed in the current PKI.

The only exception being `vars`, due to user expectations.

[2022-03-29 14:48] TinCanTech commented on #324
Closed via https://github.com/OpenVPN/easy-rsa/commit/3222d17b5effcb829089a6a35da749c41e6600a7

@z3rone  Please re-open if the problem persists.

[2022-03-29 14:48] #324 closed

[2022-03-29 14:51] TinCanTech commented on #259
Commit https://github.com/OpenVPN/easy-rsa/commit/3222d17b5effcb829089a6a35da749c41e6600a7 should fix this in most cases.

Please re-open if the problem persists.

[2022-03-29 14:51] #259 closed

[2022-03-29 14:57] TinCanTech commented on #18
Eight year old issue that has been solved.

Please re-open if the problem persists.

[2022-03-29 14:57] #18 closed

[2022-03-29 16:03] TinCanTech commented on #34
I have wasted enough time on this.

IMHO, it is simply not worth the effort to support single quote marks `'`.

[2022-03-29 18:59] TinCanTech commented on #40
Linking: #394

[2022-03-29 21:35] TinCanTech commented on #71
@jasonhe54 current `gitmaster/easyrsa` will copy those files to your PKI for use.

Try:
[code]
Should copy the files.

[2022-03-29 21:39] TinCanTech commented on #71
Personally, editing `COMMON` seems like the most obvious solution.

A command line option is less reliable ..

[2022-03-29 21:39] #71 closed

[2022-03-30 00:08] TinCanTech commented on #131
Any further feedback with current code ?

[2022-03-30 01:07] TinCanTech opened #517 "`install_data_to_pki()` should only find `x509-types` not copy it"
Provided that `easyrsa` can find `x509-types` there is no need to include them in the PKI.

Linking: #499

[2022-03-30 08:50] pedrevans commented on #421
If the CRL has expired, not only will it not be honoured, but everybody else will be shut out from the VPN too, even if their profiles are valid. As we manage our profiles and the CRL on a machine separate from the VPN server this is a bit of a pain, so in the `vars` file we set the expiration date of the CRL far in the future.

    set_var EASYRSA_CRL_DAYS 10000

[2022-03-30 23:18] TinCanTech commented on #419
This is due to:
1. Old PKI will have `unique_subject=yes` in `index.txt.attr`
2. New PKI will have `unique_subject=no` in `index.txt.attr`

`easyrsa` does not check this before it moves a certificate that it cannot, subsequently, renew.

[2022-03-31 12:55] TinCanTech commented on #517
Closed via https://github.com/OpenVPN/easy-rsa/commit/7c3f41ab68d588ee6391cf6c7080c910819f57fa

[2022-03-31 12:55] #517 closed

[2022-03-31 22:07] TinCanTech commented on #178
Closed via https://github.com/OpenVPN/easy-rsa/commit/14a29f9fca2128da4a17e478fa04d7ab17d14074

**Default** is set to `hard`

[2022-03-31 22:07] #178 closed

[2022-04-02 12:51] TinCanTech commented on #464
I have just tested this and no elements of the DN are lost on `renew`.
[code]

[2022-04-02 14:53] TinCanTech commented on #456
This comment is completely wrong:
[code]
This is what actually happens:
[code]
This is another case of abusing `EASYRSA_BATCH`.

[2022-04-02 15:39] TinCanTech commented on #420
Linking: #456

[2022-04-02 15:39] #420 closed

[2022-04-02 15:42] TinCanTech commented on #388
EasyRSA should not be responsible for how you screw up your PKI.

[2022-04-02 15:42] #388 closed

[2022-04-02 15:47] TinCanTech commented on #49
@QueuingKoala  I cannot see a reason to delay merging this, are you still interested ?

[2022-04-02 17:13] TinCanTech opened #525 "x509-types/ca is never used"
Try it for yourself.

- `sign_req()` is never called when building a CA:
  https://github.com/OpenVPN/easy-rsa/blob/9970d626c17a4f2c439ab34eba8b18f35fe40871/easyrsa3/easyrsa#L1152-L1172

EasyRSA CA certificates have not supported Netscape extensions for some time.

[2022-04-02 17:19] TinCanTech commented on #54
This essentially boils down to `build-ca` supporting `EASYRSA_EXTRA_EXTS`.

Linking: #525

[2022-04-03 01:09] TinCanTech commented on #54
There is also another problem:
https://github.com/OpenVPN/easy-rsa/blob/9970d626c17a4f2c439ab34eba8b18f35fe40871/easyrsa3/easyrsa#L379-L388

`req_extensions` do not _fly_ for CAs.

[2022-04-03 01:16] TinCanTech commented on #54
The **bottom_line** is:
- `EASYRSA_EXTRA_EXTS` is **not** the variable to use for CA extensions.

Suitable PRs welcome.

[2022-04-04 15:13] TinCanTech commented on #464
I discovered that the unit tests also captured this problem of simply defaulting to `dn_mode` and dropping `org` mode fields because `vars` was not found.

I am making changes to how `vars` is found..

[2022-04-04 16:16] TinCanTech commented on #464
I think the only way to verify `renew` has worked correctly is to compare the two certificate `Subject:` fields, which must be identical.

[2022-04-05 15:51] #456 closed

[2022-04-05 17:35] TinCanTech commented on #446
Closed via fe1dd65ab31d0154b6e3da72ca2eb1d736fd229e

[2022-04-05 17:35] #446 closed

[2022-04-05 21:32] #525 closed

[2022-04-05 21:32] #54 closed

[2022-04-05 21:38] TinCanTech commented on #54
Feedback welcome.

[2022-04-05 22:01] #512 closed

[2022-04-05 23:58] TinCanTech commented on #429
Closed via https://github.com/OpenVPN/easy-rsa/pull/528

Or please re-open.

[2022-04-05 23:58] #429 closed

[2022-04-06 00:05] TinCanTech commented on #343
Please reopen if not fixed via https://github.com/OpenVPN/easy-rsa/pull/528

[2022-04-06 00:05] #343 closed

[2022-04-06 00:06] TinCanTech commented on #73
Please try again with current `git/master`.

[2022-04-06 00:10] TinCanTech commented on #467
Closed via #528  unless somet'ing

[2022-04-06 00:10] #467 closed

[2022-04-06 04:29] TinCanTech commented on #407
https://github.com/OpenVPN/easy-rsa/commit/ed67df9578dedec4af818941582f91486999489a

[2022-04-06 04:29] #407 closed

[2022-04-06 07:40] rc452860 commented on #483
[code]
The problem remains. on windows11 wsl2.

[2022-04-06 09:58] mcdado commented on #395
I guess I'm just a little bit too early for a packaged Windows build 😄

I just installed OpenVPN 2.5.6 on Windows Server 2019, and had to reinstall in "C:\OpenVPN" instead of "C:\Program Files\OpenVPN" because of this problem. Thanks for the solution 🙂

[2022-04-06 12:54] TinCanTech commented on #395
The version packaged with Windows has not been updated.

[2022-04-06 14:09] TinCanTech commented on #483
Please test this code
[code]

[2022-04-06 14:35] mcdado commented on #395
BTW, I was looking for a place to report a minor inconvenience, but couldn't find it: the sample config files in the Windows release seem to suffer from a bad conversion of line endings, resulting in neither LF nor CRLF, but CRCRLF, which Notepad, Notepad++ (and I suspect other editors) identify as Macintosh (Classic) and display an empty line every other one.

[2022-04-06 15:15] TinCanTech commented on #395
How about: https://github.com/OpenVPN/easy-rsa/issues

I've just tested this and the files are all `LF` only.

[2022-04-06 15:26] mcdado commented on #395
That didn't seem right because I imagine this is about OpenVPN daemon and not the easy-rsa scripts, and [openvpn/openvpn](https://github.com/OpenVPN/openvpn) doesn't have Issues turned on.

I'm referring to server.ovpn and client.ovpn in the sample-config directory in OpenVPN for Windows:
![Screenshot 2022-04-06 at 17 17 37](https://user-images.githubusercontent.com/898057/162009927-3e83235a-de88-

[2022-04-07 14:34] TinCanTech commented on #121
FTR: [Easy-TLS](https://github.com/TinCanTech/easy-tls) has a certificate expiry command:
[code]
Optional: `<FILE_NAME_BASE>`

[2022-04-07 14:46] TinCanTech commented on #73
This appears to be resolved:
[code]

The two reqs:
[code]

[code]

[2022-04-07 17:26] ben-reitz opened #531 "Bug: export-p12 failing on Windows"
Hey, I'm trying to run `export-p12` and am getting the following error on Windows:
[code]

Running this seems to succeed however:
[code]

This is running from the easy-rsa bundled with the latest version of OpenVPN (2.5.6) after successfully running the following commands already
[code]

`export-p8 ben` also seems to work fine

[2022-04-07 18:06] TinCanTech commented on #531
@ben-reitz it works OK for me.

Could you please try again using [`easyrsa git/master`](https://github.com/OpenVPN/easy-rsa/blob/master/easyrsa3/easyrsa)

[2022-04-08 08:11] ben-reitz commented on #531
Cool - tried that and it revealed a different error which was fortunately easy to fix

[code]

That made it easy enough to know to copy my `vars` file from `/easy-rsa` to `/easy-rsa/pki` which fixed the issue.

Massive thanks for your help!!!

[2022-04-08 08:11] #531 closed

[2022-04-08 12:10] TinCanTech commented on #531
@ben-reitz Thanks for your help testing :sunglasses: :cake: :beer:

[2022-04-08 13:49] TinCanTech commented on #499
I need the output to this on Windows 11 with and without WSL:
[code]

[2022-04-08 14:02] TinCanTech commented on #483
This looks like, OpenSSL needs to know how to open files with that naming convention.  Easy-RSA appears to work just fine.

[2022-04-08 14:06] TinCanTech commented on #490
This looks like, OpenSSL needs to know how to open files named:
- `/c/Program Files/Openvpn/easy-rsa`

This has nothing to do with spaces in path either.

Easy-RSA appears to work just fine.

[2022-04-08 14:17] TinCanTech commented on #483
FTR: `easyrsa` does not work in **Windows** `git/bash` .. sorry.

Please try again by starting `Easyrsa-Start.bat`

[2022-04-08 14:18] TinCanTech commented on #490
FTR: `easyrsa` does not work in **Windows** `git/bash` .. sorry.

Please try again by starting `Easyrsa-Start.bat`

[2022-04-08 14:41] TinCanTech opened #532 "Support for Windows-git-bash"
Windblows, having originated from _The back-side of the Devil_, also now has `git for Windoze`, which comes with `git/bash`, which is not `bash`, and falls a _long way short_.

However, it may be possible to twist `easyrsa` into working with this garbage.

[2022-04-08 16:09] TinCanTech commented on #483
Linking: #532

Please send Follow-ups to the link above.

[2022-04-08 16:09] #483 closed

[2022-04-08 16:52] TinCanTech commented on #532
My Windblows `git/bash` `env`:
[code]
for comparison.

[2022-04-08 17:24] TinCanTech commented on #532
Windoze `cmd`:
[code]

[2022-04-11 20:25] TinCanTech commented on #532
Closed via https://github.com/OpenVPN/easy-rsa/commit/f0a3047cec042bed5b9a14ae66b67c3492a13dca

[2022-04-11 20:25] #532 closed

[2022-04-12 17:23] #34 closed

[2022-04-13 18:21] TinCanTech commented on #440
Any software of such inferior quality is not considered to be worth supporting by Easy-RSA.

But nobody else would..

[2022-04-14 08:09] viharm opened #539 "How to find EasyRSA version?"
I'm sorry if this is obvious, but I couldn't find any way to check what version of EasyRSA I'm running. I tried the following

[code]

I also couldn't find any reference on the _Github_ repo.

Again, sorry if this is obvious, but any pointers will help very much, as I'd like to be on the latest version.

[2022-04-14 08:12] viharm commented on #539
Also, I found a related issue #469 , but can't really find the outcome :-(

[2022-04-14 08:14] viharm commented on #469
What did you find? I couldn't really flesh out the answer from the Building.md file :-(

[2022-04-14 12:05] TinCanTech commented on #539
`easyrsa version`

If that does not work then update your copy.

[2022-04-14 12:05] #539 closed

[2022-04-14 12:32] jean-christophe-manciot opened #540 "'No objects specified in config file' despite using openssl-easyrsa.cnf"
Ubuntu 21.10
easy-rsa 3.0.8-1
openssl 3.0.1-0ubuntu1
[code]
leads to:
[code]

[2022-04-14 12:37] TinCanTech commented on #540
`openssl` requires a config file and 3.0.8 dash 1 (?) does not work well for the kind of integration you are trying.

Try `git/master`.

[2022-04-14 12:42] jean-christophe-manciot commented on #540
There is a config file:
[code]
Similar issue with openssl 1.1.1l:
[code]

[2022-04-14 14:08] TinCanTech commented on #540
But you are not using it because of your environmental changes.

Also, EasyRSA does not support OpenSSL v3 , yet.

[2022-04-14 14:08] #540 closed, assigned to nobody

[2022-04-14 14:29] jean-christophe-manciot commented on #540
@TinCanTech
So what should be done to make it work?

[2022-04-14 14:38] TinCanTech commented on #540
debug your environment.

[2022-04-14 17:18] ecrist commented on #469
You are not supposed to run easy-rsa from a git clone, that's not how it's designed.  You should be running a release version. If you run from git clone, you're left on your own to figure it out.

[2022-04-14 17:31] TinCanTech commented on #540
I can confirm that all you have _technically_ proven is that the part which you wrote does not work.

[2022-04-21 21:11] mike-pt opened #543 "Easy-rsa date: invalid date '+30day' Renewal not allowed."
running openvpn2.4 (from https://hub.docker.com/r/kylemanna/openvpn/)

Trying to renew the SERVER cert, no clients or CA.

[code]

The cert is definitely expired though, and the error `date: invalid date` suggests something is wrong with the output of date command.

[2022-04-21 21:28] TinCanTech commented on #543
@mike-pt  can you please try the same with current `git/master` ?

[2022-04-21 21:51] mike-pt commented on #543
I've done that too actually the contents are mostly the same, and exactly the same in the method... but yes I did tried and failed.

I "cheated" arround it by commenting this IF:
https://github.com/OpenVPN/easy-rsa/blob/master/easyrsa3/easyrsa#L1519

[2022-04-21 21:56] TinCanTech commented on #543
@mike-pt can you please post the output?

[2022-04-21 21:58] mike-pt commented on #543
The output is exactly the same as what I already posted...

The error is here:

date: invalid date 'Apr 21 10:18:24 2022 GMT'
date: invalid date '+30day'

This is likely due to the fact that the base image is alpine and date command gives and unexpected output we don't consider in the script.

[2022-04-21 22:04] TinCanTech commented on #543
Please post the complete output using `git/master`.

[2022-04-21 22:11] mike-pt commented on #543
Its renewed now, but I guess this still works, just so you trust me the result is the same :)

[code]

date: invalid date 'Jul 24 21:48:05 2024 GMT'
date: invalid date '+30day'
sh: out of range

`date: invalid date` and `sh: out of range` are the issue here.

This is a docker images based on alpine, and perhaps the current method only work on GNU LINUX

[2022-04-21 22:38] mike-pt commented on #543
Just adding some debugging based on the output of help:

[code]

However If we add "-D" this will work... something like:

[code]

Works perfect

[2022-04-21 22:41] TinCanTech commented on #543
Can you provide a working example of your `date` which could fit in here:https://github.com/OpenVPN/easy-rsa/blob/bf19e794d379654fa4cc7df308fb650fda729169/easyrsa3/easyrsa#L1505-L1517

[2022-04-21 23:35] mike-pt commented on #543
this would fit in *) but `expire_date=$(date -d "Jul 24 21:48:05 2024 GMT" +%s` will fail as I describe above... and how to fix it...

Now... l allow_renew date will also fail and this is much more tricky... however this seems to work:

date -d@"$(( `date +%s`+86400*30))"
Sat May 21 22:54:21 UTC 2022

This is because in busybox we can add +seconds so I multiply 86400sec*DAYS

So tl;dr in alpine li

[2022-04-22 12:05] TinCanTech commented on #543
This works for me:

[code]

[2022-04-22 17:43] TinCanTech commented on #342
@justfly1111   That is why it does not work.

[2022-04-22 17:45] TinCanTech commented on #342
Required: `<FILE_NAME_BASE>`

[2022-04-22 17:45] #342 closed

[2022-04-24 19:29] #543 closed

[2022-04-24 19:41] TinCanTech commented on #543
@mike-pt can you test, please.

[2022-04-25 09:54] #479 closed

[2022-04-25 09:58] TinCanTech commented on #490
WSL should work completely normally.

[2022-04-25 09:58] #490 closed

[2022-04-25 10:05] TinCanTech commented on #357
Recent changes appear to have fixed what-ever the issue here was.

Closing - Please reopen if the problem persists.

[2022-04-25 10:05] #357 closed

[2022-04-25 10:08] #131 closed

[2022-04-25 10:13] #59 closed

[2022-04-25 10:16] #73 closed

[2022-04-25 10:36] TinCanTech commented on #88
`easyrsa --subject-alt-name=DNS:foo gen-req bar text nopass`

[2022-04-25 10:44] TinCanTech commented on #447
`easyrsa --subject-alt-name=DNS:foo sign-req client bar`

[2022-04-25 11:10] #419 closed

[2022-04-25 11:21] #326 closed

[2022-04-25 11:23] #88 closed

[2022-04-25 11:51] #440 closed

[2022-04-25 20:24] TinCanTech commented on #436
Closed via https://github.com/OpenVPN/easy-rsa/commit/d1993892178c5219f4a38d50db3b53d1a972b36c

Testing welcome.

[2022-04-25 20:24] #436 closed

[2022-04-25 20:39] #435 closed

[2022-04-26 18:51] TinCanTech commented on #348
All user data files now belong in the PKI or system shared areas.

`easyrsa` can be run from `$PATH` with `--pki-dir`, which means you could do:
[code]

[2022-04-27 09:22] dariosusman commented on #499
Glad this was taken up. I was unable to articulate the problem. :)

I don't have a Windows 11 to assist with.

But I do have this issue with Debian 11. The vars file in /opt/easyrsa is not honoured completely. Specifically in regards to the EASYRSA_CRL_DAYS variable

I have to set it manually:

[code]
I have to run it like this:
`EASYRSA_CRL_DAYS=3650 ./easyrsa  gen-crl` for the variable to be tak

[2022-04-27 10:14] TinCanTech commented on #499
Please try with current `git/master`.

[2022-04-28 00:53] #457 closed

[2022-04-28 00:57] #414 closed

[2022-04-28 15:15] TinCanTech commented on #464
@seblu please test with current `git/master`

[2022-04-29 00:01] TinCanTech commented on #494
`shellcheck` `'d`

[2022-04-29 00:01] #494 closed

[2022-04-29 12:18] TinCanTech opened #548 "`--copy-ext` does not work"
Follow-up: #447

Steps:
- `gen-req` with `--san`
- `show-req`
- `sign-req`
- `show-cert` - SAN is lost.
- `sign-req` with `--copy-ext` - Fails

**gen-req**:
[code]
**show-req**:
[code]
**sign-req**:
[code]
**show-cert** SAN is lost:
[code]
sign-req `--copy-ext` - Fails.
[code]
The problem: `ERROR: adding extensions in section default`

So, the extensions are added to the wrong section.

[2022-04-29 12:53] TinCanTech commented on #548
The `copy_extensions = copy` must be inserted into the full config file, not appended to the extensions file.

Putting `copy_extensions = copy` into the extensions file is like _locking yourself into a box and throwing out the key_.

[2022-04-29 13:01] #548 closed

[2022-04-29 13:08] #447 closed

[2022-04-29 15:35] dariosusman commented on #499
Well, I've given it a try on my testing server.

It didn't appear to like it very much and it appears to expect it under the pki dir.
And, as you can see, even on the same directory, it thinks there's a conflict when there's none. It's the same directory.

[code]

[2022-04-29 22:28] TinCanTech commented on #379
**H4iku**:
- create `renew_ca()` `&&` renew old CA
- do nothing `&&` renewed CA expires, also.
- create `re_renew_ca()` `&&` re-renew old CA
- `goto 10`

[2022-05-04 11:05] filipvh-sentia opened #554 "'build-ca nopass' incorrectly prompts for password - OpenSSL version 3"
Hello,

The current release of easyrsa prompts for a PEM password, even when using the `nopass` argument and setting the `EASYRSA_BATCH` environment variable.

OpenSSL: OpenSSL 3.0.2 15 Mar 2022 (Library: OpenSSL 3.0.2 15 Mar 2022)
easyrsa: easyrsa 3.0.8
System: Ubuntu 22.04

# Example
[code]
# Output:
[code]
# Expected output:
None

# Fix

It seems you've already fixed the bug in the current mast

[2022-05-04 11:12] TinCanTech commented on #554
EasyRSA version 3.0.8 does not support OpenSSL version 3.x

Currently, only `easyrsa git/master` supports OpenSSL v3.x and it is still a _work in progress_.

[2022-05-04 11:17] filipvh-sentia commented on #554
Thanks for the answer @TinCanTech  !
In that case I might hold off on using a specific commit from master in that case.

[2022-05-04 11:20] TinCanTech commented on #554
Re-opening for others to report related problems.

[2022-05-04 11:22] TinCanTech commented on #554
The release schedule for EasyRSA is as follows:
- Version 3.0.9 - Unknown
- Version 3.1.0 - Scheduled for 2022-05-13, but that will probably not be met.

[2022-05-04 11:23] TinCanTech commented on #554
@ecrist Release time .. ?

[2022-05-04 11:35] ecrist commented on #554
Yes. I can push v3.0.9 out this week.

Eric Crist

On May 4, 2022, at 6:23 AM, TinCanTech ***@***.***> wrote:

﻿

@ecrist<https://github.com/ecrist> Release time .. ?

—
Reply to this email directly, view it on GitHub<https://github.com/OpenVPN/easy-rsa/issues/554#issuecomment-1117197834>, or unsubscribe<https://github.com/notifications/unsubscribe-auth/AANXQP6RGFJZBRWCDALMMXLVIJM4XANCNFSM5VBTRUPQ

[2022-05-05 19:47] TinCanTech commented on #499
I believe this is all essentially fixed, so changing milestone.

[2022-05-05 20:10] dariosusman commented on #499
If the move forward is to have the vars file within the PKI dir, sure.

Thanks!

Cheers,
Dario Susman

On 05/05/2022 16:47, TinCanTech wrote:

[2022-05-05 20:20] TinCanTech commented on #499
It is not a hard requirement but it is heavily biased.

You can over-ride by using `--vars=your-vars`, as documented.

[2022-05-05 20:34] dariosusman commented on #499
Gotcha. Thank you :)

Cheers,

Dario Susman

On 05/05/2022 17:20, TinCanTech wrote:

[2022-05-06 17:27] mandree opened #556 "non-portable grep -E special expressions"
Hello Eric,

POSIX grep does not support \d as shorthand for [[:digit:]] or [0-9]. This is an issue in practice on systems that do not use GNU grep by default, and use, for instance, BSD grep, as FreeBSD does. Please see https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=263812 for details, found by Michael Gmelin, with a proposal to fix.

Regards,
Matthias

[2022-05-07 12:07] #556 closed

[2022-05-07 18:48] TinCanTech opened #559 "date function for Darwin is incorrect"
https://github.com/OpenVPN/easy-rsa/runs/6336081225?check_suite_focus=true

Let's see the queue of Mac users breaking down the door to help .. *yawn*

[2022-05-07 19:15] ecrist commented on #559
I'm not seeing anything useful in that log. Maybe mobile sucks. I can fix date on Darwin tomorrow.

Eric Crist

On May 7, 2022, at 1:48 PM, TinCanTech ***@***.***> wrote:

﻿

https://github.com/OpenVPN/easy-rsa/runs/6336081225?check_suite_focus=true

Let's see the queue of Mac users breaking down the door to help .. yawn

—
Reply to this email directly, view it on GitHub<https://github.com/OpenVPN

[2022-05-07 19:18] TinCanTech commented on #559
The log doesn't have anything useful.

This is the code in question:
https://github.com/OpenVPN/easy-rsa/blob/af4120c50ea1379274839d8ef6cb0b8dce73028f/easyrsa3/easyrsa#L1651-L1659

[2022-05-07 19:59] TinCanTech commented on #559
Following a minor unit-test change, it is apparent that the failed command if the first one: ` 	expire_date="$(date -j -f '%b %d %T %Y %Z' "$crt_not_after" +%s)" `

[2022-05-07 20:09] TinCanTech commented on #559
Breath held ...

[2022-05-07 21:34] mandree commented on #559
It's very simple. POSIX date only supports the -u option and +"FORMAT"

[2022-05-07 22:42] ayanamidev opened #560 "Wouldn't work with latest Ubuntu LTS release ( 22.04 )"
As per mentioned by https://askubuntu.com/questions/1403837/how-do-i-use-openssl-1-1-1-in-ubuntu-22-04,

The latest LTS release of Ubuntu is shipped with openssl version 3,

So EasyRSA wouldn't work with the latest version of Ubuntu LTS without supporting the latest openssl version as well.

[2022-05-07 22:45] TinCanTech commented on #560
Easy-RSA does not support OpenSSL version 3 at this time.

Ubuntu is not ready for OpenSSL version 3 either.

[2022-05-08 22:33] ecrist commented on #559
This is a red herring.

I need to know information on how to reproduce - the op-test.sh script dies early due to missing support for ed25519 in LibreSSL, nothing to do with the date command.

I’m open to a discussion, but I’m thinking of dropping the “POSIX” standard claim in light of a BSD/GNU happy-medium claim.  I’ll open a new issue to discuss that.

Eric

[2022-05-08 22:39] ecrist opened #561 "Drop POSIX claim"
I proposing dropping the claim to adhere to POSIX in favor of a looser claim to a happy-medium of BSD/GNU compatibility.

I'd even go so far as to say we will support a short list of operating systems that we can modify.

For starters:

1. *BSD (Free/Net/Open/Dragonfly)
2. Linux (GNU)
3. BusyBox
4. Darwin/macOS (aka BSD)

Thoughts?  This was kind of highlighted in #559.

[2022-05-08 23:20] TinCanTech commented on #559
Run the unit test like so:
[code]

[2022-05-08 23:21] TinCanTech commented on #559
I do not agree to "dropping POSIX claim".

[2022-05-08 23:26] ecrist commented on #559
I think this is an error in the upstream unit tests:

|| :: ***** /Users/ecrist/ersa-release/easy-rsa/easyrsa3/easyrsa  build-server-full s01 nopass inline
Generating a 1024 bit RSA private key
............................++++++
.......................++++++
writing new private key to '/Users/ecrist/ersa-release/easy-rsa/easyrsa3/unit tests/pki-sys ssl-rsa/a1845ce5/temp.70e0c66f'
-----
date: illeg

[2022-05-09 00:32] TinCanTech commented on #561
`easyrsa` has never been strictly POSIX because doing so would require dropping support for Windows.

Eg: `cleanup()` and to a lesser extent `hide_read_pass()`

To a larger extent, _aiming for POSIX compliance_, while exercising careful non-compliance, is exactly what a good script does. That is, "Until" "They" "Fix Everything".

[2022-05-09 00:58] TinCanTech commented on #559
I guess this is a **Darwin** issue. github runner `macos-latest` maybe too up to date.

Manual test succeeds, with:
`
Darwin wiscii-MacBook-Pro.local 19.6.0 Darwin Kernel Version 19.6.0: Thu Oct 29 22:56:45 PDT 2020; root:xnu-6153.141.2.2~1/RELEASE_X86_64 x86_64
`

[code]

[2022-05-09 01:00] TinCanTech commented on #559
[code]

[2022-05-09 02:04] ecrist commented on #559
So, might be a test/expectation issue?

bash-3.2$ openssl version
LibreSSL 2.8.3

Eric

[2022-05-09 11:38] ayanamidev commented on #560
Well, they weren't ready for Python 3 as well

https://askubuntu.com/questions/1232812/whats-the-default-python-version-in-ubuntu-20-04

For every new LTS version releases, I think they enjoy packaging new toolchains that aren't actually not ready.

[2022-05-09 11:40] ayanamidev commented on #560
@TinCanTech When would the EasyRSA be compatible with openssl version 3?

Maybe the community should submit the pull request for it?

[2022-05-09 11:52] ayanamidev commented on #560
@TinCanTech BTW, could you ask anyone from OpenVPN about the deb file shipment for 22.04 as well? https://build.openvpn.net/debian/openvpn/testing/dists/

https://github.com/OpenVPN/openvpn/commit/baa1e67f310b1db3c5b7b9b9f12867a86c947648

I think someone has already started testing builds, so maybe soon?

[2022-05-09 11:55] TinCanTech commented on #560
This is not a general support channel.

[2022-05-09 11:55] #560 closed

[2022-05-09 16:24] ecrist commented on #559
I don't think date on darwin is a problem at all.

Eric Crist

On May 9, 2022, at 7:56 AM, TinCanTech ***@***.***> wrote:

﻿

Further investigation indicates that start_fix_sec is probably the problem:
https://github.com/OpenVPN/easy-rsa/blob/85b35cccb86f9f8ca1d79b0816ef2ef6bd574ae2/easyrsa3/easyrsa#L1654-L1660

—
Reply to this email directly, view it on GitHub<https://github.com/OpenVPN/easy-rsa/

[2022-05-09 16:49] mandree commented on #559
I do not buy "too up to date" unless there is some irony I were missing. That version of LibreSSL is pretty stale and has diverted from OpenSSL pretty early. About the date, see https://www.libressl.org/releases.html - Dec 2018 - so why waste time with it?

Require a supported version of OpenSSL (meaning in the 1.1.1 or 3.0 tracks) and let the LibreSSL zealots deal with it. I understand why LibreS

[2022-05-09 17:37] mandree commented on #559
No objection against running on Macs, but developing new code against an outdated LibreSSL version seems pretty far off.

[2022-05-09 17:50] TinCanTech commented on #559
@mandree can you please try running:
[code]

[2022-05-10 08:03] TinCanTech commented on #559
LGTM

[2022-05-10 08:03] #559 closed

[2022-05-11 08:29] mercury46dev commented on #447
`./easyrsa sign-req client test --copy-ext`
Works as expected when adding `copy_extensions = copy` to the `openssl-easyrsa.cnf` file of the pki.

[2022-05-13 08:22] quonb opened #564 ""The file is not a valid request." when there are multiple IP addresses in SAN"
https://github.com/OpenVPN/easy-rsa/blob/20d2bedaedec5398d37225c4fe95924a27489270/easyrsa3/easyrsa#L1858
It should be `s/IP Address:/IP:/g`, with **g** flag to deal with multiple IP addresses in Subject Alternative Name field,
like in
https://github.com/OpenVPN/easy-rsa/blob/20d2bedaedec5398d37225c4fe95924a27489270/easyrsa3/easyrsa#L2403

[2022-05-13 22:41] TinCanTech commented on #564
This would be more suitable as a PR.

[2022-05-13 22:57] #564 closed

[2022-05-14 00:48] TinCanTech commented on #464
`renew` does not drop any data:
[code]

[2022-05-14 00:48] #464 closed

[2022-05-14 02:14] TinCanTech opened #565 "Bad implementation of 'no_pki_required'"
https://github.com/OpenVPN/easy-rsa/blob/969804c53033c606443369f9f884aa0d106adea6/easyrsa3/easyrsa#L3922-L3925

Re-assigning `no_pki_required` here is too fragile.

There is a better way by re-organising this:
https://github.com/OpenVPN/easy-rsa/blob/969804c53033c606443369f9f884aa0d106adea6/easyrsa3/easyrsa#L3900-L3913

Something like `want_pki_not_required` under `# User defined --vars=file` ..

[2022-05-14 03:03] TinCanTech commented on #565
#562

[2022-05-14 17:22] TinCanTech opened #566 "'init-pki' should be mutually exclusive to '--vars'"
The **_Classical_** way to use `easyrsa`, is to have all the necessary supporting data to be present in the current working directory.

Necessary supporting data [NSD]:
- **`easyrsa` script** file.
- `openssl-easyrsa.cnf` file. [NSD]
- `vars.example` file. [NSD]
- `x509-types` folder. [NSD]

This setup means running `./easyrsa` directly and not a system binary in `PATH`. Combine that with the defa

[2022-05-14 17:28] TinCanTech commented on #565
@ecrist I consider this issue to be a **blocker** for release `v3.1.0`.

I would prefer to roll back the changes made in https://github.com/OpenVPN/easy-rsa/commit/4922cae2637ff1d6247840a800f3c691aa7eb7ab prior to release `v3.1.0`

This will fall through to #566

[2022-05-14 18:45] TinCanTech commented on #566
Valid points:
- `vars` really belongs in the PKI folder because it is pertinent only to this PKI.

- `easyrsa` and `EASYRSA_PKI` do **not** belong in `vars`.

- `EASYRSA_OPENSSL` is a little more tricky. Luckily, `easyrsa` sources `vars` before any use of `openssl`, so can remain.

- Making `init-pki` mutually exclusive to `--vars` means that only `--pki-dir` can be used with `init-pki`.  This  me

[2022-05-14 22:05] TinCanTech commented on #565
Resolved by https://github.com/OpenVPN/easy-rsa/commit/5c3f4403a2f45cfa6af5d086f6932919adfac368

**Block** released.

[2022-05-14 22:05] #565 closed

[2022-05-14 22:09] TinCanTech commented on #566
This issue aims to undo #562 and clarify how to use `--vars=FILE` and `--pki-dir=DIR`.

[2022-05-16 09:43] TinCanTech commented on #121
Verification, expiration and revocation taken care of.

[2022-05-16 09:43] #121 closed

[2022-05-16 19:32] TinCanTech opened #567 "Detecting 'vars' fails on an old PKI"
Ref: https://github.com/OpenVPN/easy-rsa/commit/bd3a3b041cb2e88a66e8117b4de3745782d2822e

Linking: #566

[code]

[2022-05-16 20:25] #567 closed

[2022-05-17 19:44] TinCanTech opened #568 "show-expire() fixed format date is invalid input for cert_dates()"
Debug output:
[code]

[2022-05-17 19:48] TinCanTech commented on #568
On top of that, there are two variables:
- `crt_not_after`
- `crt_notAfter`

Cause for confusion, will be fixed.

[2022-05-18 01:12] #568 closed

[2022-05-18 12:12] Nyr opened #571 "EasyRSA 3.0.9 releases include a pre-created PKI"
Is the inclusion of an already initialized PKI intentional?

I have my doubts, so I figured it would not hurt to ask.

[2022-05-18 12:55] TinCanTech commented on #571
Hi @Nyr, thanks for the report.

The inclusion of a test PKI is an unfortunate error.

[2022-05-18 13:00] ecrist commented on #571
I'll fix.

[2022-05-18 13:08] #571 closed

[2022-05-18 19:00] TinCanTech opened #572 "if 'renew' fails then the certificate is lost"
Renewing a certificate which does not have a password, without specifying `nopass`, causes `openssl` to expect a new password. If the user breaks out of the script or does not enter a password then the certificate has been moved to the `renewed` directory and can not be recovered via the script.

Need some form of recovery on error.

[2022-05-18 21:03] chenrui333 opened #573 "easy-rsa 3.0.9 Failed to install required data-files to PKI. (init)"
Trying to upgrade to 3.0.9, but saw the `easyrsa init-pki` runtime failure:
[code]

relates to https://github.com/Homebrew/homebrew-core/pull/101848

[2022-05-18 21:08] #572 closed

[2022-05-18 21:24] TinCanTech commented on #573
Does the script have access to this data:
- `openssl-easyrsa.cnf`
- `x509-types` folder

[2022-05-18 21:35] TinCanTech commented on #573
Please see #511  for further details.

[2022-05-19 00:11] chenrui333 commented on #573
what about `vars.example`, is that still in use. Somehow I still cannot get it working.

[2022-05-19 00:21] ecrist commented on #573
On macOS simply extracting the tgz file, changing in to the easyrsa path and running the program works.

I'm not sure what you're trying to do in the brew build, but you're breaking it.

This isn't an easyrsa issue it's your build script in brew.

Eric Crist

On May 18, 2022, at 7:12 PM, Rui Chen ***@***.***> wrote:

﻿

what about vars.example, is that still in use. Somehow I still cannot get it w

[2022-05-19 01:13] TinCanTech commented on #573
If `vars.example` is missing that will still allow your PKI to be initialised.

`easyrsa` MUST find `openssleasyrsa.cnf` and `x509-types` folder.

Have them present in the same folder as `easyrsa` or one of these folders:
https://github.com/OpenVPN/easy-rsa/blob/cf32d9f4850d09152efb83d87f2230aa3b3ef83b/easyrsa3/easyrsa#L811-L818

[2022-05-19 12:27] TinCanTech opened #576 "Incorrect SAN is selected for a server named '555.1.1.1'"
`default_server_san()` mistakes a `commonName` for an IP address when the CN "looks like" an IP address.

**Example**:

Input:
[code]
Result:
[code]
Technically, `1.2.3.4` is the `commonName`, not an IP address.

[2022-05-19 12:32] TinCanTech commented on #576
Additionally, `default_server_san()` does **not** support IPv6.

[2022-05-19 12:41] TinCanTech commented on #566
With the release of version 3.1.0, using `--vars=file` with `init-pki` is prohibited. (Version 3.0.9 still allows it, however)

Barring a total user disaster, this issue can be closed (soon).

[2022-05-19 14:25] chenrui333 commented on #573
Is `EASYRSA_PKI` configurable to find the PKI folder?

[2022-05-19 14:28] chenrui333 commented on #573
There are some brew env variables got setup during the build process to ensure the portability. Other than that I dont think we broke the build process, also this did not happen in 3.0.8. That is the reason why I raised an issue in here (more like a question, not as bug report)

[2022-05-19 14:28] TinCanTech commented on #573
You can use `--pki-dir=DIR` or `set_var EASYRSA_PKI "foo"` in `vars`.

[2022-05-20 12:51] TinCanTech opened #578 "New renewal mechanism is not backward compatible"
Commit ef22701878bb10df567d60f2ac50dce52a82c9ee introduced a new renewal mechanism:
- Allows renewed certificates to be revoked by name not serial number.
- Stores renewed certificates by name not serial number.
- Store directories are **not** called `foo_by_serial` they are only `foo`
  eg. `renewed/certs_by_serial` is not used, `renewed/issued` is used.

The root cause of this incompatibility is

[2022-05-20 13:57] ecrist commented on #578
The fix should be backported to v3.0.9 as well.

[2022-05-20 15:59] TinCanTech commented on #578
What fix ?

[2022-05-22 11:59] #578 closed

[2022-05-22 16:37] TinCanTech commented on #578
Could this also be included into v3.1.0 ?

[2022-05-22 18:40] ecrist commented on #578
It could be in v3.1.1 but the v3.1.0 ship has already sailed.

Eric Crist

On May 22, 2022, at 11:37 AM, TinCanTech ***@***.***> wrote:

﻿

Could this also be included into v3.1.0 ?

—
Reply to this email directly, view it on GitHub<https://github.com/OpenVPN/easy-rsa/issues/578#issuecomment-1133931620>, or unsubscribe<https://github.com/notifications/unsubscribe-auth/AANXQP6YGYAXJF4N4ANFWXTVLJPD3

[2022-05-22 18:49] TinCanTech commented on #578
Perhaps, adjust [Milestone v3.1.1](https://github.com/OpenVPN/easy-rsa/milestone/13) ?

[2022-05-22 19:00] TinCanTech commented on #554
OpenSSL version 3 is now supported by EasyRSA version 3.0.9 and 3.1.x

[2022-05-22 19:00] #554 closed

[2022-05-22 19:02] TinCanTech commented on #578
as has v3.0.9

[2022-05-23 18:34] TinCanTech opened #581 "Files in 'x509-types' may be missing"
Example:
- Delete `x509-types/COMMON`
- Build a CA
[code]
The CA is successfully built.

----

Question: How to handle this (minor) error ?

1. Do nothing.
2. Suppress error. Redirect `2>/dev/null`
3. Suppress error. Test `if [ -e "$EASYRSA_EXT_DIR/COMMON" ] && cat foo`
4. Warn about missing files @ every run / `init-pki`
5. ~ something else ..
6. Require all files in `x509-types` to be present.

[2022-05-24 11:59] SSgumS commented on #573
Hello
In `v3.0.8`, easyrsa automatically used the files existing beside the binary. But in `v3.0.9`, I must copy those data you mentioned (`openssl-easyrsa.cnf` and `x509-types`) to the working directory to get `init-pki` working.

[2022-05-24 12:09] TinCanTech commented on #573
@SSgumS Please post the error message that you receive.

[2022-05-24 12:18] SSgumS commented on #573
The error message of command `easyrsa init-pki`:
[code]
What I did to resolve the error:
[code]
Then the command is executed without any errors.

[2022-05-24 12:29] TinCanTech commented on #573
You have installed the files to the wrong folder.

The coorect name is n`easy-rsa`, with a dash `-`.

[2022-05-26 01:27] jasonhe54 opened #582 "These characters are not supported: (') (&) (`) ($) (#)"
So I've been using EasyRSA on Ubuntu, but wanted to move it to Windows instead of on a VM.

Moving over, I have `set_var EASYRSA_EXT_DIR	"$EASYRSA/x509-types"` set in the vars files, but when running `easyrsa build-ca`, it returns "These characters are not supported: (') (&) (`) ($) (#)" and after entering a password to secure the RootCA Private Key, it just fails.

Any ideas?

Also, any suggestio

[2022-05-26 07:39] TinCanTech commented on #582
Simply remove this:

`set_var EASYRSA_EXT_DIR "$EASYRSA/x509-types"`

Yes you can.   If you installed Easy-RSA from the OpenVPN Windows installer then all you need to copy is your PKI folder.

[2022-05-26 18:27] TinCanTech commented on #582
After **very much** testing, the characters which EasyRSA cannot support are:
[code]

[2022-05-27 20:27] frspackager opened #583 "`date -j` fails on MacOS if MacPorts' `coreutils` installed"
Use of `date -j` fails on MacOS when MacPorts `coreutils` package is installed and if `/opt/local/libexec/gnubin` is in and has priority in `$PATH` order over `/bin`.

Hardcoding `/bin/date` fixes the issue of course but there might be a more elegant wait to check at runtime and adjust arguments to use Linux style.

*Just a minor inconvenience is this great package.*

[2022-05-27 20:53] TinCanTech commented on #583
The correct syntax for MacPorts `coreutils` `date` would be _more elegant_.

PRs welcome. :+1:

[2022-05-27 21:53] #364 closed

[2022-05-27 21:53] #582 closed

[2022-05-27 22:00] TinCanTech commented on #364
The fix will probably break `vars` files with escaped `&`.  However, in order to have a working `vars` file with an escaped `&` means that you are using a customised `easyrsa` ...

[2022-05-28 04:17] frspackager commented on #583
I gave it a try and added a PR. Hope it helps.

[2022-05-28 11:36] TinCanTech commented on #583
@frspackager could you please paste the output of `man date` from your system ?

[2022-05-28 14:43] frspackager commented on #583
Sure, in the meantime, I thought about how I wrote the test, maybe I should add last resort default to MacOS' `/bin/date` if all else fails.

[code]

[code]

[2022-05-28 17:09] TinCanTech commented on #583
I was thinking the same `;-)`

Thanks for the man page, I'll take a closer look.

[2022-05-28 17:44] frspackager commented on #583
Understood, I have the revised PR ready if you want to look at it anyway. GNU `date` (coreutils) seems to be common to most recent Linux distributions not based on `busybox`.

[2022-05-29 00:14] TinCanTech opened #587 "auto-escaping ampersand is a bad hack"

[2022-06-02 16:48] mandree opened #589 "regression report 3.1.0 (since 3.0.8): vars handling"
Greetings, I am the packager of the Easy-RSA package for FreeBSD. In our post-install scripot, we install the .example files for openssl-easyrsa.cnf and vars into /usr/local/share/easy-rsa (= $DATADIR), and install a wrapper that defines EASYRSA.

#! /bin/sh
: ${EASYRSA:="/usr/local/share/easy-rsa"}
export EASYRSA
exec "/usr/local/share/easy-rsa/easyrsa.real" "$@"

This apparently used to work nic

[2022-06-02 20:30] TinCanTech commented on #589
I believe that the correct solution, in this case, is for the packaging to **not** create the `vars` file.

`easyrsa` will create the `vars` file from the same source, `vars.example`, in the defined PKI at `init-pki`.

The script now heavily favors `vars` to be found in the PKI **only**.
If multiple viable `vars` files are found then this is considered to be an **error**.

If only one `vars` file

[2022-06-02 21:07] TinCanTech commented on #589
To be absolutely specific, in the case of the bug report:

`/usr/local/share/easy-rsa/vars` should **never** exist.

[2022-06-03 15:57] mandree commented on #589
Thank you. Fixed in FreeBSD's port as of version 3.1.0_1, which no longer creates this file and only installs .../share/easy-rsa/vars.example, and ships with a post-install message to explain what needs to be done and that init-pki is a dangerous beast.

[2022-06-03 16:19] TinCanTech commented on #587
Closed by #590

[2022-06-04 01:07] TinCanTech commented on #589
Linking #566

[2022-06-05 12:22] mandree opened #591 "3.1.0: date(1) command sensitive to LC_TIME locale, causing date parse failures if locale's time/date formers differ from C/POSIX [FreeBSD 13.1]"
On FreeBSD 13.1, with LANG=de_DE.UTF-8 or LC_TIME=fr_FR.UTF-8,
I get `Failed conversion of ``Jun 12 02:02:02 1999 GMT'' using format ``%b %d %T %Y %Z''` and `date: illegal time format` failures building a server:

[code]

**The workaround, and possibly solution, is to override LC_TIME=C or LC_TIME=C.UTF-8 or LC_TIME=POSIX.**

This is my relevant locale configuration:
[code]

[code]

[2022-06-05 12:35] mandree commented on #591
Minimal reproducer in sh-like shells:

`( export EASYRSA_BATCH=1 ; export EASYRSA_REQ_CN="My CommonName" ; easyrsa init-pki ; easyrsa build-ca nopass ; easyrsa build-server-full myserver nopass )`

[2022-06-05 12:51] TinCanTech opened #592 "cert_dates() for Alpine/busybox does not recognise revoke_status() input date"
`revoke_status()` input date format is: `22-12-25 00:00:01Z`
`cert_dates()` expects `"%b %e %H:%M:%S %Y"`

`cert_dates()` requires:
[code]

[2022-06-05 12:56] TinCanTech commented on #591
@mandree Thanks for testing and this detailed report.

`cert_dates()` function is quite fragile. I am working on it for v3.1.1

[2022-06-05 13:01] mandree commented on #591
This is the brute-force patch I am using downstream in our 3.1.0_2 package:
https://cgit.freebsd.org/ports/tree/security/easy-rsa/files/patch-easyrsa?id=32877d0369a1bf4ac1cbd0a6c11ac3347bb5653b

[2022-06-05 14:58] TinCanTech commented on #591
@mandree Please test this patch:
[code]
Obviously, this only addresses `Darwin|*BSD`, however, if it looks reliable then something similar can be applied more globally, in time.

Thanks for your help!

[2022-06-06 08:40] TinCanTech opened #593 "[Proposal] Remove `renew` 30 day window restriction"
Currently, `easyrsa` restricts the renewal of a certificate to an arbitrary 30 day window from the certificate expiry date, for no apparent reason.

This issue serves to discuss the removal of this restriction.

In the event that no reasonable objections are raised then removal will take place.

Note: This will also remove "Fixed date" and "back dated" certificate creation.

Following the removal

[2022-06-06 08:43] TinCanTech commented on #591
Linking #593

[2022-06-06 08:43] TinCanTech commented on #592
Linking #593

[2022-06-06 08:44] TinCanTech commented on #583
Linking #593

[2022-06-06 08:44] TinCanTech commented on #95
Linking #593

[2022-06-08 09:45] FireEmerald commented on #589
@TinCanTech Please explain the purpose of the `set_var EASYRSA_PKI		"$PWD/custom/pki"` line inside a `vars` file, when a `vars` file should be **only** exist after creating that directory? The `EASYRSA_PKI` does not make any sense then.

[2022-06-08 14:27] #593 closed

[2022-06-08 15:32] TinCanTech commented on #592
Closed via #595 - Problem code no longer exists.

[2022-06-08 15:32] #592 closed

[2022-06-08 15:33] TinCanTech commented on #591
I believe this should be fully addressed by #595

Testing/feedback welcome.

[2022-06-08 15:37] TinCanTech commented on #589
@FireEmerald Having a `vars` file which is external to the PKI in Easy-RSA version 3.1x is considered to be DEPRECATED.

These lines should really be removed from `vars.example`:
[code]
However, they remain for the time being.

[2022-06-08 15:39] TinCanTech commented on #583
This has been addressed by #595

Testing and feedback is welcome.

[2022-06-08 15:39] #583 closed

[2022-06-13 09:04] Yannik opened #596 "Using ANY environment variables in X509-types files is NOT officially supported"
I'm currently having issues signing a CSR for a Sub-CA (Windows ADCS):

After importing the csr, sign-req results in:
[code]

I have checked line 8 of the config file, it is `[ CA_default ]`, so I don't really know how this could cause an issue.
Full config file here: https://pastebin.com/u8HfYDXK

I'm using easy-rsa 3.0.8 from the debian repo.

[2022-06-13 09:22] Yannik commented on #596
I was able to solve this:

By commenting out `[ -z "$EASYRSA_TEMP_DIR_session" ] || rm -rf "$EASYRSA_TEMP_DIR_session"` in `/usr/share/easy-rsa/easyrsa`, I could keep the temporary config file. Turns out that it is dynamically generated from various files, and this issue was caused by a line in `x509-types/COMMON` which used `$ENV::CA_NAME` for the `crlDistributionPoints`.
Setting that variable fi

[2022-06-13 13:30] TinCanTech commented on #596
@Yannik Hi, thanks for reporting this and tsking time to try to solve it.

However, your solution is certsinly not an acceptable fix, so I'm reopening this for further investigation.

Is there a specific reason why you only put your openssl config file on pastebin ? Do you mind if I paste it here for the record ?

[2022-06-13 13:39] TinCanTech commented on #596
That is certainly possible via a `--debug` switch or something like that. I have been trying to improve _debug-ability_ moving forward.

[2022-06-13 13:42] TinCanTech commented on #596
We don't need your SSL config, so I will not post that but I will leave this open as a reminder to look into it soon.

[2022-06-13 14:13] TinCanTech commented on #581
Linking #596

[2022-06-14 01:34] TinCanTech commented on #581
EasyRSA will no longer make false claims.

Option _number 6 above_ is the **only** acceptable solution.

[2022-06-14 20:31] Yannik opened #597 "cross-signing"
I would like to restrict a third party Root CA to signing specific names.

For this, I need to cross-sign this Root CA with my own CA while using extension `nameConstraints` (see https://serverfault.com/questions/670725/is-it-possible-to-restrict-the-use-of-a-root-certificate-to-a-domain).

Is there any functionality for cross-signing an existing cert in easyrsa?

[2022-06-14 21:10] TinCanTech commented on #597
No.

You could possibly achieve this by editing the `x509-types/ca` file.

[2022-06-14 21:27] Yannik commented on #597
Hey @TinCanTech,

thanks for confirming this is not possible atm.

I'd like to suggest that such a feature would be a good addition to easyrsa.

If my initial explanation was too vague, let me try to be more clear:
What I need is a command that functions like:
[code]

with `x509-types/restricted` containing:
[code]

This should result in `third-party-ca.crt` getting cross-signed by `r1` ca key and

[2022-06-15 12:07] TinCanTech commented on #597
When you figure that out, be sure to raise a PR, thanks.

[2022-06-15 12:32] frspackager commented on #583
@TinCanTech, did quite some extended testing and dates manipulation seem to work fine. However I do see other issues around conflicting behaviors with GNU tools like `grep` for RegExp (`vars` parsing for instance) when I play around between native MacOS and GNU equivalents from MacPorts. I need to do more exhaustive test and revert with proper diagnostics.

[2022-06-15 13:09] TinCanTech commented on #583
To be honest, the intention to support multiple versions of these tools has not been put in writing. It is a simple _best guess effort_, to date.

You are welcome to raise multiple issues detailing all the problems that you find for MacPorts, or any other OS.

You are welcome to send pull requests dealing with these issues.

I am happy to help by reviewing and testing.  I'll even help to guide you

[2022-06-17 10:51] viharm commented on #348
This is awesome! However, I was wondering how we can avoid the failure mode where the user utilizes the root CA instead of sub-CA. I am aware that this is user error, but is this in scope?

[2022-06-17 12:13] TinCanTech commented on #348
@viharm I do not understand your question.

Please start a new issue with **full details**.

[2022-06-17 12:29] viharm commented on #348
OK, sure. I'll start a new issue, but since it's related to multiple PKIs/CAs, I wanted to understand if it is in scope to protect the user from making a wrong decision of using the incorrect PKI/CA - only a query.

[2022-06-17 13:00] TinCanTech commented on #348
Your question is **not** related to this issue.

[2022-06-17 19:29] frspackager commented on #583
I totally understand. I will for now restrict testing to vanilla MacOS environment. Seems the `grep` issue on `vars` parsing is an issue irrespective of the tool used and would need a `-F` flag to disable regex matching which seems enabled by default. I will propose PR when I'm done with proper testing.

Thanks for your support.

[2022-06-18 00:42] ecrist commented on #583
Please keep in mind these issues affect other non-GNU based systems. We cannot support every possible customization of every OS out there.

Eric Crist

On Jun 17, 2022, at 2:29 PM, FRS Packager ***@***.***> wrote:

﻿

I totally understand. I will for now restrict testing to vanilla MacOS environment. Seems the grep issue on vars parsing is an issue irrespective of the tool used and would need a -F

[2022-06-18 15:43] TinCanTech opened #600 "OpenSSL v3 does not "like something?" about openssl-easyrsa.cnf"
`easyrsa` output from `git/master`:
[code]

[2022-06-18 23:27] TinCanTech opened #601 "LibreSSL v3 does NOT support option -config, for command genpkey"
Required:
[code]

[2022-06-18 23:38] TinCanTech opened #602 "LibreSSL v3 only supports option -nodes"
Required:
[code]

[2022-06-18 23:39] TinCanTech opened #603 "LibreSSL does not return version when an incompatible config file can be found"
Required:
[code]

[2022-06-18 23:40] TinCanTech commented on #603
https://github.com/libressl-portable/portable/issues/767

[2022-06-19 00:34] frspackager commented on #583
@ecrist understood and no worries, the reason I raised an issue and started investigating is that MacPorts is the solution I use to transform a non-GNU system (MacOS) into GNU System and that was interfering with some of the tests in easyrsa. I will revert to a GNU-Linux usage in the future.

[2022-06-19 02:13] ecrist commented on #583
Understood. But you see how that's just a bastardization right?

It's not reasonable to support this, really. We have to support 8^9000 combinations of things. If you want a GNU system, use one. Don't take a BSD system, abuse it to GNU, and expect everything to work.

This gets into all the embedded stuff, BusyBox, FreeNAS, etc etc etc.

I do not support this ticket or any patches to resolve it as

[2022-06-19 10:25] TinCanTech commented on #583
FTR: `busybox date` _is now supported and is preferred_.

Where available, `busybox date` can be installed without conflicting with whatever `date` is installed.  It is also very simple to use and fits EasyRSA requirements well.

[2022-06-19 12:32] ecrist commented on #583
What I was really trying to say is that it is a slippery slope to try and support everyone's customization of their operating system.

Eric Crist

On Jun 19, 2022, at 5:26 AM, TinCanTech ***@***.***> wrote:

﻿

FTR: busybox date is now supported and is preferred.

Where available, busybox date can be installed without conflicting with whatever date is installed. It is also very simple to use and f

[2022-06-19 17:26] TinCanTech commented on #603
This is not a bug in `easyrsa` because `$OPENSSL_CNF` always points to `$EASYRSA_SAFE_CONF`.  However, do **not** copy `openssl-easyrsa.cnf` to `/usr/local/etc/ssl`, unless the intention is to _bork_ LibreSSL.

[2022-06-20 00:01] #601 closed

[2022-06-20 00:01] #602 closed

[2022-06-20 13:08] TinCanTech commented on #95
Closed via 8c1ac0c800b13dcb28097840fbdba40952eaab05

Testing welcome.

[2022-06-20 13:17] #591 closed

[2022-06-20 22:40] #600 closed

[2022-06-20 22:59] TinCanTech commented on #561
`easyrsa` passes `shellcheck` definition of POSIX, with only the exception of Windows, mentioned above.

[2022-06-21 00:27] TinCanTech opened #607 "X509-types files code-signing, email, and kdc serve no-purpose"
`X509-types` files: `code-signing`, `email`, and `kdc` are **never** used by `easyrsa` ..

**Purge them all**.

[2022-06-21 00:39] TinCanTech commented on #581
Linking: #607

[2022-06-21 00:41] TinCanTech commented on #607
Linking #608

[2022-06-22 17:55] TinCanTech opened #609 "EasyRSA 'renew' does NOT renew, it builds a new certificate *and* key"
For **true** certificate _renewal_ the original key MUST be used.

I intend to **remake** Easy-RSA **_`renew`_**, as it _should have been done in the first place_.

**`renew` sucks .. don't use it.** -- Until further notice.

If you **already did** use **_`renew`_** then you can use `rewind-renew <serial-number>` to undo the damage caused. (Version 3.1x only)

[2022-06-23 14:29] Yannik opened #610 "Improve debuggability by adding option to not remove temporary openssl config files"
In https://github.com/OpenVPN/easy-rsa/issues/596#issuecomment-1153923680, I suggested adding an option to not remove the temporary openssl config/extfile to improve debuggability.

Currently, this can only be achieved by commenting out
[code]

and

[code]

[2022-06-23 17:48] TinCanTech opened #612 "'rewind-renew' needs to make 'renewed/issued' folder"
`rewind-renew` target `out` folder _should be_ `pki/renewed/issued` not `pki/issued`.  This is because the `renew` has already taken place and new certificate/key/req files already exist in the live PKI, thus `rewind-renew` wants to over-write the new files. [Bug]

`rewind-renew` is **not** intended to _undo_ a certificate renewal, it is meant to pull the file based on serial number from the `rene

[2022-06-23 20:27] TinCanTech commented on #612
`rewind-renew` must ensure the `renewed/issued` (etc) folders exist.

Currently, only the target-out file-names are checked for not the folders themselves, which will be missing if `rewind-renew` is tried first.

[2022-06-23 21:20] TinCanTech commented on #379
@dewydex Renewing a CA is considerably different to renewing a general certificate.

Your link is not appropriate.

[2022-06-23 22:42] TinCanTech opened #613 "Command 'renew' should not use option 'nopass'"
Command `renew` should be aware of a password requirement or not.

When creating a new certificate it is easy to make a mistake and do it again.

When _renewing_ a certificate it is easy to make a mistake and `easyrsa` chokes if you do make a mistake and try to `break` out of it.

[2022-06-23 23:24] dewydex commented on #379
@TinCanTech With respect, your response is not accurate (especially given a "subordinate CA" which is not altogether dissimilar from any other type of certificate configuration).

The only thing I see as being "not appropriate" is the attitude being expressed... It's highly problematic when you're making statements like "I intend to remake Easy-RSA renew, as it should have been done in the first p

[2022-06-23 23:41] TinCanTech commented on #379
@dewydex If there is a problem with how Easy-RSA is being maintained then I invite you to start your own issue and stand by it. Otherwise, your comments here are deemed to be off-topic.

[2022-06-23 23:45] dewydex commented on #379
@ecrist You should be involved here before any other bridges are burned. This type of animosity and community interaction is not conducive to the longevity of this project.

[2022-06-23 23:47] TinCanTech commented on #379
@dewydex I have not censored you in any form and yet you continue to hijack this unrelated issue ..

[2022-06-23 23:52] ecrist commented on #379
Yeah. Catching up now. I'll dig into this myself I guess.

Eric Crist

On Jun 23, 2022, at 6:46 PM, Roughstone ***@***.***> wrote:

﻿

@ecrist<https://github.com/ecrist> You should be involved here before any other bridges are burned. This type of animosity and community interaction is not conducive to the longevity of this project.

—
Reply to this email directly, view it on GitHub<https://github

[2022-06-24 00:26] TinCanTech opened #614 "Is current contributer 'TinCanTech' a suitable candidate for the role ?"
Have at it:

- All comments and flames are accepted here, honesty and integrity.

[2022-06-24 01:12] TinCanTech commented on #614
For the record:
- `git/master` **is** the **development branch** of EasyRSA
- Release 3.1.0 was **the first** and timely release of EasyRSA version 3.1.x
- Release 3.0.x is still **actively and discerningly** maintained by @ecrist

[2022-06-24 02:09] ecrist commented on #609
So, there's a few things to consider here that aren't currently well supported in EasyRSA:

1. There is not a canonical renew function that uses the old key.
2. Support for signing a naked CSR not generated by EasyRSA is not present
3. CA/sub-CA should be handled different from regular certificates

These three things should be addressed in an update to the renew function.  In reality, there reall

[2022-06-24 04:53] dewydex commented on #614
Speaking as a someone whose familiarity with OpenVPN and easy-rsa goes back a ways... despite the contributions noted and the confidences shown, these are systems built on the trust of the participants as much as the transparency of the code.

What's displayed here, on other issues, and in the OpenVPN forums from you is hostility and unilateral decision making. This does not lead to a healthy ecos

[2022-06-24 13:53] TinCanTech commented on #609
I have a patch which introduces `req-renew`, which creates a new request with the original key.

I don't believe EasyRSA is the right tool for signing requests from unknown sources.

Renewing a CA/Sub-CA leaves the user with the same problems as creating a completely new PKI; That is the problem of distributing the new CA certificate to all nodes.  IMPO, CA renewal offers almost no advantage over

[2022-06-24 14:02] dsommers commented on #609
That is not correct.  Any CA should be able to sign any CSR.  The CSR may for security reasons be created on a host not accessible to EasyRSA, where the intention is to not share the private key with anyone else. This may even include private keys stored on Yubikeys or Nitrokeys.  In these cases, the client provides the CSR to the CA maintainer, which can use EasyRSA to sign the request and return

[2022-06-24 14:19] dsommers commented on #613
This needs more explanation.  If a certificate is _renewed_, it should to use the already existing private key to generate the signing request. And it can use the existing certificate as a "template" for the renewal.  If the private key is password protected, that password need to be processed in the process.

      $ openssl x509 -x509toreq -in test-cert.pem -signkey test-key.pem > test-csr.pem

[2022-06-24 14:23] dsommers commented on #612
What is the use case for this feature?

[2022-06-24 14:40] TinCanTech commented on #612
If you mean "what does `rewind-renew` do ?

**Answer**: Previous versions of `easyrsa` move the old cert/key/req to sub-folders in subfolder `pki/renewed`. The files are renamed to the serial number of the certificate .`crt`, `.key` and `.req`.

The problem then is that revoking the old certificate could not be done by `easyrsa`, because the code did not exist.

`rewind-renew` pulls the serial-num

[2022-06-24 15:00] TinCanTech commented on #613
The current version of `renew` does **not** use the existing key, both cert and key are built from scratch.  This is why I objected to calling it `renew` in the very first place, over a year ago.  This version of `renew` should be called `rebuild` ..

[2022-06-24 15:29] dewydex commented on #609
There's possibly some confusion here regarding especially sub-CA operations. When Easy-RSA (or any CA) issues a subordinate/intermediary CA certificate, it's creating a chain of authority by granting permission for this sub-CA to issue certificates that will be trusted by entities which trust the root CA certificate (such as a root generated by Easy-RSA).

Whereas it is true that these sub-CA cert

[2022-06-24 15:52] ecrist commented on #609
There are assumptions made with "simple" setups and use of EasyRSA that are not going to be true in more advanced deployments.  Namely that the CSR comes from the admin signing the certificate, and as an extension, the private key is available.  We **must** assume the we may only have a CSR and no private key.  A private key is not needed if we're provided a CSR.

Also, with regard to CA/sub-CA ce

[2022-06-24 16:00] dsommers commented on #612
You are answering "what does it do", not "when do I need to use this feature" (aka: use case).

[2022-06-24 16:03] dsommers commented on #613
well, I was quite a bit unclear. Sorry about that.

When you use the approach above (`openssl x509 -x509toreq` feature), what essentially happens is that it extracts all the certificate details and generates a new CSR from scratch and signs it with the local private key.

Creating a new private key sounds a bit too invasive, as that means two components needs to be replaced instead of just the cer

[2022-06-24 16:12] ecrist commented on #613
If we can use the existing key, we should.  But, not doing so isn't "broken" per se.  Referring to it as broken or "damaged" is an opinion that has little technical merit.

I support improvement here, but calling everything before broken, and treating it as such, is not productive and potentially introduces confusion.

[2022-06-24 17:01] TinCanTech commented on #612
You always need `rewind-renew`, if you have used an older version of `easyrsa` to `renew` a certificate.

[2022-06-24 18:39] dewydex opened #615 "Consider switching to a feature branch workflow"
**TL;DR it might be a good idea to start developing in feature branches and merging into master...**

It's excellent to see so much active development on Easy-RSA. What may not be adequately reflected here at GitHub is the degree to which this software pervades in the wild, especially in offline or decentralized forms.

It's something people have been hammering on, with, and around for a long time

[2022-06-24 18:51] dsommers commented on #612
Then I am again at loss at the use case.  When is it needed to run this `rewind-renew`, how will it be run and how often?  There is a lot of ambiguity here.  I see a lot of explanation of why things are wrong and how this feature will work.   But not the context it is to be used in.

If this is a one-time operation fixing the outcome of the old behavior, then this should be named something with "m

[2022-06-24 19:35] TinCanTech commented on #612
I am certainly happy to rename the command for semantic accuracy but `migrate-` would be inaccurate. This is not a migration, this is undoing what has been changed by old `renew`.

The use-case is as I have explained, it is only required if a certificate has been renewed by the old(current release) version of `renew`.

The **new** version of `renew` also comes with `revoke-renewed`, which is requi

[2022-06-24 20:32] ecrist commented on #615
Given other challenges, and that we are recently adopting our current workflow, I don't support another change at this time.

Eric Crist

On Jun 24, 2022, at 1:39 PM, Roughstone ***@***.***> wrote:

﻿

TL;DR it might be a good idea to start developing in feature branches and merging into master...

It's excellent to see so much active development on Easy-RSA. What may not be adequately reflected h

[2022-06-25 14:09] TinCanTech commented on #613
I found a better solution:

If `renew` is interrupted by the user then do a clear-up by calling `renew_restore_move()` from `clear_up()`, which is called by `trap` for `Ctrl-C` break.

[2022-06-25 22:24] #615 closed

[2022-06-25 22:46] TinCanTech commented on #615
FTR; I would not be opposed to `a.n.other`  branch.

[2022-06-26 02:27] ecrist commented on #615
I'll make a 3.2.x branch tomorrow.

Eric Crist

On Jun 25, 2022, at 5:46 PM, TinCanTech ***@***.***> wrote:

﻿

FTR; I would not be opposed to a.n.other branch.

—
Reply to this email directly, view it on GitHub<https://github.com/OpenVPN/easy-rsa/issues/615#issuecomment-1166373739>, or unsubscribe<https://github.com/notifications/unsubscribe-auth/AANXQP6GF3RT2LVXFKGZYVTVQ6D55ANCNFSM5ZYVLNFA>.
You

[2022-06-27 09:47] dsommers commented on #612
I still do not have a full understanding, which is rooted in this question - in particular the last part of the second question.

With your last comment, I also just got even more questions:

* Is this run for each single certificate which for some reason can't be renewed without this?
* If yes, why can't this be implemented as a migration feature instead running it once after upgrading?

These ar

[2022-06-27 10:16] TinCanTech commented on #612
Easy-RSA version 3.0.8, which stood as release version since **16 Sep 2020**, has no way to revoke a certificate once it has been renewed.  IMHO, a considerable security flaw, which stood for two years and should never have been released in the first place.

v308 Demonstration:
[code]

Resulting PKI:
[code]
`easyrsa` **cannot** `revoke` certificate `c1`.

[2022-06-27 10:29] TinCanTech commented on #612
I wrote a **vastly** improved version of `renew`, which can revoke a renewed certificate. But it cannot revoke a certificate which was renewed by v308 without preparing those certificates in advance. That is `rewind-renew`.

It also logically controls how a user can use `renew`. By only allowing one unique-by-commonName certificate to exist in the renewed storage area.  If a user wants to renew an

[2022-06-27 14:08] TinCanTech commented on #612
The user wants to revoke certificates which have been renewed.  This is not possible with Easy-RSA v308.  There is no "solution Y" to this problem.

In order to revoke the certificate the user must use raw `openssl` command and input raw certificate file.  If the user then wants those revoked certificates to be placed in the revoked storage area they must do so manually.

[2022-06-27 14:39] TinCanTech commented on #612
With v308 there is no way to revoke a renewed certificate.  It has to be done manually, as described above.

The situation is like this because the original version of `renew` was incomplete. There was never a way to revoke a renewed certificate, except manually, as decribed above.

[2022-06-27 14:41] TinCanTech commented on #612
Every certificate that has been renewed, since v306. #286

[2022-06-27 14:52] TinCanTech commented on #612
There was no solution provided by EasyRSA.  There were no proposals and no PRs.

Since the introduction of `renew`, old cert/key/req files were moved out of the way, unnecessarily. Not only were they moved beyond the reach of the script, they were also renamed to the serial number of the x509 cert.  Only ONE of these acts is necessary:
- Either move the file out of the way to another folder
- **OR

[2022-06-27 18:02] TinCanTech commented on #612
WRT **the question of** _The way in which `renew` is currently broken_:

Currently, the expectation on the user is that they should either:
- Keep an **external record** of All certificate `commonName` to `serialNumber`.
- OR **Fish** through the currently `renew`ed certificate files, _listed by `serialNumber` ONLY_, looking for the `commonName` of the certificate they wish to `revoke`.

**This is

[2022-06-27 21:00] TinCanTech commented on #612
Just to address these two questions:
1. Yes, `rewind-renew` must be run for each individual certificate which has been renewed with Easy-RSA v306 - v308.
2. This cannot be implemented as a migrate feature for all certificates which have been renewed because there could be certs which will resolve to the same `commonName`. IE. The same `cert/key/req` file-names in the same folders.

There may be di

[2022-06-27 23:28] TinCanTech commented on #612
Regarding your reply:

You will choose your path and I will choose mine.

I will ALWAYS ask.

Your choice is: How you answer.

Censorship is NEVER a good or popular choice, as an answer.

[2022-07-06 12:46] Arno-PPS opened #619 "sh.exe crashes on virtual Windows servers"
I use the OpenVPN Community Edition under Windows, since some versions Easy-RSA 3 including the MirBSD Korn Shell is included.
Unfortunately, I can not get this to work, a search on the Internet was unfortunately fruitless:

Background is the crash when simply calling sh.exe (without parameters).
In the event log you can find:
Name der fehlerhaften Anwendung: sh.exe, Version: 39.0.14.1, Zeitstempe

[2022-07-06 13:05] TinCanTech commented on #619
Translation by goolag:
[code]

[2022-07-22 13:32] amerello opened #622 "Upgrade EasyRSA v2.x to v3.x PKI stops working from v3.0.9-rc1 onward"
The command `easyrsa upgrade pki` stops working in accordance with this [guide](https://community.openvpn.net/openvpn/wiki/easyrsa-upgrade) starting on v3.0.9-rc1.
With Version 3.0.7 and 3.0.8 the upgrade works as expected and the v2.x vars are upgraded to the v3 equivalent.
Starting from 3.0.9-rc1 the following error occurs:
[code]
After which the upgrade process is aborted.
I believe this is rel

[2022-07-26 12:26] TinCanTech commented on #622
The problem here is that `easyrsa` has found two different `vars` files and does not know which one to use for the upgrade.

@amerello can you confirm which of the two `vars` files is the correct one in this case ?

[2022-07-26 12:32] amerello commented on #622
@TinCanTech both `vars` referenced are the same file, one is the relative path (./vars) and the other the absolute path (/home/dev/src/pki_test/EasyRSA-v3.0.9-rc1/vars) in this case.
The guide requests in step 2 to copy the old files:

This includes the old vars version with `export`, which at least on version 3.0.7 and 3.0.8 are replaced with the new format `set_var`

[2022-07-26 12:35] TinCanTech commented on #622
Thanks.

In this case, I believe I have resolved that particular circumstance in a later patch, I will search and update here when I have confirmed.

For the time being I cannot offer a resolution to this particular problem.

[2022-07-26 12:38] amerello commented on #622
@TinCanTech thank you for looking into this!

[2022-07-27 00:53] TinCanTech commented on #622
The code to detect the duplicate `./vars` verses the `/full/path/vars` file was introduced here: https://github.com/OpenVPN/easy-rsa/commit/26b7247f708f2b895c289aefaab9b99023aa7860#diff-facbd438107d2ef365738070a1bd97ab30395e1e821eec939bd766b8a73b9464R2975

[2022-07-29 07:00] amerello commented on #622
@TinCanTech  running the upgrade from `git/master` ([e5ec1ab](https://github.com/OpenVPN/easy-rsa/commit/e5ec1ab7718ac6dac4138745c997a8ae64ef0832)) I don't experience the vars error that aborts the process at the beginning.

After the existing certificate verification I see the following output though:

[code]

So the upgrade isn't successful, like up to 3.0.8, but this seems to be a different iss

[2022-07-29 18:11] TinCanTech commented on #622
@amerello I cannot replicate your problem.

For starters, the output above is incomplete, there should be warnings prior to verifying your CA.

This is what I expect to see:
[code]

[2022-07-29 19:23] amerello commented on #622
@TinCanTech i should have mentioned that i removed all the output from my previous message until after the certificate information is printed out, because it contains sensitive information

[2022-07-29 19:26] TinCanTech commented on #622
Can you post the complete output with redacted certificate data please.

[2022-07-30 10:42] TinCanTech commented on #622
@amerello I have **solved** this, so you do not need to post any further output.

[2022-07-30 11:39] #622 closed

[2022-07-30 11:40] TinCanTech commented on #622
@amerello can you please confirm that this works for you.

[2022-08-02 08:39] bagasme opened #624 "sign-req should not output text form of certificate"
Certificates signed with easy-rsa should not output text form, as in many other PKI systems (e.g. Let's Encrypt). That is, only binary representation (that including `BEGIN CERTIFICATE` - `END CERTIFICATE`) should be in the certificate by passing `-notext` option to `openssl ca`.

[2022-08-02 12:03] TinCanTech commented on #624
This has been discussed before #440 , with the following reasons:

- EasyRSA uses the default output settings from OpenSSL.
- The human readable data included is chosen by OpenSSL not EasyRSA.
- The human readable data included in the certificate is the **public** key data.

There are two possible outcomes:

- An `easyrsa` option `no-text` is added to `sign-req`.
  This would then output only the

[2022-08-02 15:31] amerello commented on #622
@TinCanTech I just was able to get back to this. Running from `git/master` [bee93cf8692c3ff52c6256960d59ce5f07d8bc3c](https://github.com/OpenVPN/easy-rsa/commit/bee93cf8692c3ff52c6256960d59ce5f07d8bc3c)
Upgrade still fails with the following output:

[code]

Could we reopen this ticket, or did I choose the wrong branch?

[2022-08-02 17:10] TinCanTech commented on #622
Thank you very much for thoroughly testing and feeding back your experience.

[2022-08-03 07:48] bagasme commented on #624
@TinCanTech I think we can go with the first option (adding `no-text` option).

[2022-08-04 08:54] Liesando opened #625 "Commands like show-ca, gen-req, etc. change safessl-easyrsa.cnf paths from relative to absolute"
Hi. I have EasyRSA PKI commited in my SVN and I share this SVN with other users. I noticed that when a command is issued, the file `<pki>/safessl-easyrsa.cnf` is changed: all relative paths are changed to absolute. For now, I think, I can just add this file to ignored / not commit it, but it would be great to have an ability to turn off behavior of expansion of relative paths to absolute paths

SV

[2022-08-04 09:18] Liesando commented on #625
Hm, actually, I discovered that I exported `EASYRSA_PKI` as `$PWD/intermediate-ca-pki`. If I export it as `./intermediate-ca-pki` everything is good. Closing the issue

[2022-08-04 09:18] #625 closed

[2022-08-04 09:50] TinCanTech commented on #625
@Liesando for the record, which version of `easyrsa` are you using ? Thanks.

[2022-08-04 10:17] Liesando commented on #625
@TinCanTech I updated the initial comment. Version is:
[code]

[2022-08-04 10:24] TinCanTech commented on #625
[code]
Thanks.

If you want to go **real cutting edge** then you could try up-to-date `git/master` and raise issues for any/all problems which you encounter.

But, of course, only if you have the time and inclination `;-)`

[2022-08-06 15:25] #613 closed

[2022-08-06 21:03] TinCanTech commented on #609
Re-opening for follow up discussion regarding `renew-req` command.

[2022-08-07 10:55] tecoboot opened #626 "Older certs for a CN cannot be revoked"
With the unique_subject set to no, it is possible to add unlimited certs for a CN.
EasyRSA only maintains all info for the last issued cert for a CN. Earlier created certs for a CN are tracked by their serial and serial.pem is available. This makes it **not so easy** to manage.

EasyRSA has no function to list all issued certs and to revoke the older issued certs for a CN. List can be done with ca

[2022-08-07 11:11] TinCanTech commented on #626
From version `3.1`, there is a new `renew` mechanism, which does **not** keep the renewed files by serial number.

There is also a new command `revoke-renewed`, which can revoke renewed certificates.

There is also another new command `rewind-renew`, which undoes the old renew mechanism and then allows certificates to be revoked by using `revoke-renewed`.

I do not know what the plans are for Easy

[2022-08-07 11:13] TinCanTech commented on #626
@tecoboot would you consider **testing** version `3.1`, which is currently [`git/master`](https://github.com/OpenVPN/easy-rsa/blob/master/easyrsa3/easyrsa) ?

That would help us a great deal.

[2022-08-07 11:56] #612 closed

[2022-08-07 12:12] TinCanTech commented on #619
This could also be caused by a date which is beyond the 2038 cut-off for 32bit applications, in this case `date.exe`.

[2022-08-07 12:23] TinCanTech commented on #626
To test, simply make a copy of your current PKI and download [`git/master/easyrsa`](https://github.com/OpenVPN/easy-rsa/blob/master/easyrsa3/easyrsa) into your copy PKI.

To save your currently renewed certificates you need to use:
- `rewind-renew <serial-number>`.
  This can be done for each unique `commonName` of your certificates.

Then you can revoke a renewed certificate by using:
- `revoke-r

[2022-08-07 16:11] TinCanTech commented on #626
EasyRSA version `3.1.1` (**git/master**) now includes these status reports:
- `show-expire` - List certificates which will expire soon.
- `show-revoke` - List certificates which are revoked.
- `show-renew`  - List certificates which have been renewed.

Tempting morsels for upgrading ..

[2022-08-07 16:38] TinCanTech commented on #626
Linking #609

[2022-08-07 21:49] dekeonus opened #627 "install_data_to_pki() /usr/local/share/easy-rsa should come before /usr/share/easy-rsa"
https://github.com/OpenVPN/easy-rsa/blob/7b4d2fb23e50bc645132ffb392bc4201a2332857/easyrsa3/easyrsa#L1036-L1043

Take this hypothetical:
User's package manager has installed easy-rsa, but has not populated /etc/easy-rsa (only /usr/share/easy-rsa).
The user installs locally a newer easy-rsa (for some bugfix or feature).
For most systems /usr/local/bin is on the path before /usr/bin, ergo one would e

[2022-08-07 22:08] dekeonus commented on #609
I have patched 3.0.8 (was looking at migrating this forward to 3.1.0) for more robust ANY cert type (well not the kdc type) renewals based just upon the existing csr (I put subjAltNames in the csr, and extract SAN for all but kdc type csr),  using some awk magic (looking over that awk code I'd say some chaos magic ... was avoiding using Gnu extensions to awk).

The awk compared the  extendedKeyUsa

[2022-08-07 22:27] dekeonus commented on #609
example of the code (for basicConstraints)
[code]

[2022-08-07 22:34] dekeonus commented on #609
including the keyUsage from openssl x509 as the substitution for basicConstraints may have been less than clear

[code]

[2022-08-07 22:57] dekeonus commented on #607
I will note that I've used `code-signing` and `email` however removing them won't really affect me (as I've already got those in my existing pkis)

[2022-08-07 23:32] dekeonus commented on #624
You could run `openssl x509 -in <path_to>/<certificate>.crt -out <new_path_to>/<certificate>.crt` this will remove the text.
It seems like an easy (and natural) thing to just copy the certs as they exist (pem encoded) in the pki as most software supports that format. However I suggest this raw copy isn't ideal, it should be an export operation. As easyrsa has no export-pem (or export-der) option,

[2022-08-07 23:43] TinCanTech commented on #627
Ref: install_data_to_pki() /usr/local/share/easy-rsa **should come before** /usr/share/easy-rsa

You are obviously correct.

This must be fixed.

[2022-08-07 23:53] TinCanTech commented on #609
@dekeonus Your comments do not belong on this thread.

Please start a new issue.

Your comments here **will be deleted**.

[2022-08-07 23:56] dekeonus commented on #609
@TinCanTech fair enough, delete away. The gist of my comments are relevant to this this thread: A means to renew based upon the existing CSR.
I am curious to the reasoning behind requiring generation of a new CSR if the contents will match the old CSR.

[2022-08-08 00:01] TinCanTech commented on #609
@dekeonus Please start your thread and refer to it here as a linked URL.

Then please, stop bombing other issues.

If you wish to discuss other options then we are available on IRC.

[2022-08-08 00:08] TinCanTech commented on #609
@dekeonus  You can open as many **_new_ issues** as you need to.

__

[2022-08-08 00:48] dekeonus opened #628 "RFE: Convenience function to export Certificates as pem / der encoded bundle"
It would be convenient to have a function to bundle the certificate chain into a single file for easier deployment for software expecting a pem bundle (and less likely a der encoded certificate).

Repeating the options available to the other export modules `noca` `nokey` and `nopass` would enable the common bundles typically used:  private key and cert with full chain, cert and full chain, key and

[2022-08-08 08:34] TinCanTech commented on #607
@dekeonus Please explain **_how_** you used them.

[2022-08-08 08:52] tecoboot commented on #626
OK, I'll produce test results. Attached test result with master. [Issue 626 - problem.txt](https://github.com/OpenVPN/easy-rsa/files/9280366/Issue.626.-.problem.txt)

Couple of findings:
 - vars handling is different in v3.0.6 and current master;
 - with unique_subject = no, it is not possible to add same client-1 with build-client-full, but it is possible with sign-req;
 - with easyrsa, current s

[2022-08-08 09:05] tecoboot commented on #626
There is an issue with show-expire caused by the older but still valid certs:

.. show-expire:
./easyrsa: 3478: [: Illegal number:
./easyrsa: 3478: [: Illegal number:

Line is: if [ "$cert_expire_date_s" -lt "$cutoff_date_s" ]; then

Error (with bash -x): + '[' '' -lt 1667721397 ']'

Before: + cert_expire_date_s=

So $cert_expire_date_s is empty. The older certs were indeed not expired.

These are

[2022-08-08 09:17] tecoboot commented on #626
The rewind-renew doesn't work for these older certs.
[Issue 626 - revoke-renewed.txt](https://github.com/OpenVPN/easy-rsa/files/9280547/Issue.626.-.revoke-renewed.txt)

Easy-RSA error:
Unable to revoke as no renewed certificate was found.
Certificate was expected at: /root/easy-rsa/easyrsa3/pki/renewed/issued/17F4A03B99101C17986D7CC955855B86.crt

The problem is that the certs were not renewed but

[2022-08-08 10:39] tecoboot commented on #626
Here first attempt to fix show-expire or basics for show-older:

[code]

[2022-08-08 12:46] TinCanTech commented on #626
@tecoboot thanks for testing.

True - However, the only _serious difference_ is that the preferred location of `vars` is now to be within the PKI folder.

That is correct functionality.

That must be a **bug**, I'll have to take a closer look.

That can be addressed and fixed.

From what I can gather here; You created your client-1 multiple certificates in a completely unsupported way, on a PKI th

[2022-08-08 12:47] TinCanTech commented on #626
For `rewind-renew` to work, you **must** use this **copy** of your old PKI.

[2022-08-08 12:49] TinCanTech commented on #626
Thanks for your work, I'll take a closer look soon.

[2022-08-08 13:02] TinCanTech opened #629 "`sign-req` does not check for an existing certificate"
Easy to reproduce:
- Create a PKI and CA certificate.
- Build a new client: `build-client-full client-1 nopass`
- Try to build another new client named `client-1`,
  This will correctly fail.
- Use `sign-req client client-1`
  This will over-write the existing certificate, **without warning**.
  It will also add **another** record to `index.txt` for `client-1`.

[2022-08-08 13:21] TinCanTech commented on #627
@dekeonus would you also expect `/etc/easy-rsa` to be third ?

eg:
[code]

[2022-08-08 14:23] TinCanTech commented on #626
Your work for `show-older` is based on certificates which should **not** exist, so I cannot proceed with that option.

[2022-08-08 14:40] dekeonus commented on #627
At first thought no I'd expect `/etc/easy-rsa` to be first in the list. However I'm not sure what package maintainers in other distributions are doing RE user changes to files in /etc.
So I'm not sure if it should be first or second (with `/usr/local/share/easy-rsa` first).

I would hope that package maintainers are honouring changes by the local admin, but in the past I have been caught out by so

[2022-08-08 14:56] tecoboot commented on #626
OK, with the protection by https://github.com/OpenVPN/easy-rsa/commit/5b4fd2b484adc6e2f506b62eb54fc38adc802766 is is not needed.

With the patch, the to be revoked certs also cannot exists.

I'm a bit concerned on installed easyrsa, that lacks the protection. Updating in for example Debian takes some time (years).

[2022-08-08 15:03] dekeonus commented on #607
@TinCanTech for `code-signing` I've used a cert to sign a Windows installer for distribution of my CA and subCA certs. I've used a different cert to sign a Windows driver for a personal project I'm working on (chaining to the rootCA installed by the above).

For `email` I needed to sign a document for an educational institution I was at during the height of the pandemic. The institution did not pr

[2022-08-08 15:28] TinCanTech commented on #629
What did you verify, the bug or the fix ?

[2022-08-08 15:34] TinCanTech commented on #626
@tecoboot good point.

@ecrist should https://github.com/OpenVPN/easy-rsa/commit/5b4fd2b484adc6e2f506b62eb54fc38adc802766 be applied to 3.0 series ?

[2022-08-08 15:35] tecoboot commented on #626
The show-all function: ./easyrsa --renew-days=99999 show-expire

[2022-08-08 15:37] TinCanTech commented on #607
The question remains: **_How_** did you use them ?

I have no interest in why/where you used them.

[2022-08-08 15:42] tecoboot commented on #626
Have a fix for the "corrupt" PKI?
Now I have:
./easyrsa: 3483: [: Illegal number:
./easyrsa: 3483: [: Illegal number:
./easyrsa: 3483: [: Illegal number:
./easyrsa: 3483: [: Illegal number:
./easyrsa: 3483: [: Illegal number:
./easyrsa: 3483: [: Illegal number:
./easyrsa: 3483: [: Illegal number:
./easyrsa: 3483: [: Illegal number:
./easyrsa: 3483: [: Illegal number:

[2022-08-08 15:43] dekeonus commented on #607
huh? perhaps in my weakened state I'm not understanding the question:
`easyrsa --days=1825 sign-req code-signing cert_dist`
this with a 2.?? series
`easyrsa sign-req code-signing dek_dev`
this with the 3.0.8 release

[2022-08-08 15:52] TinCanTech commented on #626
The `Illegal number` can be fixed but it is important to understand why it is happening that either `cert_expire_date_s` and/or `cutoff_date_s` are empty values.

I would need to see your `index.txt` file and `find pki/issued pki/revoked`.

[2022-08-08 15:58] tecoboot commented on #626
I revoked the fix and reran the testscript.
Result:

[code]

[2022-08-08 15:58] tecoboot commented on #626
Here 2 errors:
[code]

[2022-08-08 16:00] TinCanTech commented on #627
Due to your original point:

I am considering dropping `/etc/easy-rsa` as a source for these data files.

[2022-08-08 16:08] TinCanTech commented on #607
That is exactly what I needed to see, thanks. :+1:

[2022-08-08 16:17] TinCanTech commented on #607
@dekeonus Thank you for your feedback here.

Closing this PR as an incorrect assumption.

[2022-08-08 16:17] #607 closed

[2022-08-08 16:23] dekeonus commented on #627
I'd consider that the correct thing to do: from discussion in #589 vars is supposed to be a per pki config, not a global config.

I suppose users wanting a shared vars could just use symlinks, though Windows users might have some issues RE whether mksh can use ntfs symlinks (provided the user knew how to make them).

[2022-08-08 16:23] TinCanTech opened #630 "Add details about `x509-types` to `help sign-req`"
This should be documented more clearly.

See: https://github.com/OpenVPN/easy-rsa/issues/607#issuecomment-1208287489